## 3년 국채 선물 Data Handling

## 1) Real_Time Data DB Insert

In [1]:
from sqlalchemy import create_engine
import MySQLdb
import pandas as pd
import numpy as np
import re
import os
import time
import MySQLdb
pd.options.mode.chained_assignment = None

In [2]:
# Path Setting #
read_path = 'C:\\Finance_team\\raw_full_2018'
out_path = 'C:\\Finance_team\\Testing_result'

# Data Frame 파일 초기 Column 설정 #
df_columns = ['날짜',
              '시간',
              '코드',
              '현재가',
              '체결수량', 
              '매도1호가',
              '매도1잔량',
              '매수1호가',
              '매수1잔량',
              '최종매도매수',
              '총잔량매도',
              '총잔량매수',
              '투자자유형',
              '투자자매도',
              '투자자매수']

df_numeric_columns = ['현재가',   # 0) 날짜 1) 시간 2) 코드 제외 (Text) 
              '체결수량', 
              '매도1호가',
              '매도1잔량',
              '매수1호가',
              '매수1잔량',
              '최종매도매수',
              '총잔량매도',
              '총잔량매수',
              '투자자매도',
              '투자자매수']


# Raw File 저장 Directory를 찾아서, 그 안의 파일명을 호출하여 List로 변환 #
file_list = os.listdir(read_path)
file_CMDT_list = []

# Directory에서 CMDT File 만 Sorting하여 file_CMDT_list에 Insert
for file in file_list:
    if file[0:19] == 'sise2local.ALL_CMDT':
        file_CMDT_list.append(file)        

## 변수 초기 설정
product_id = ''
product_code = ''
date = ''

In [3]:
def is_target_product_ID(line):
    return line[17:19] == 'A0' and line[425:428] == 'BM3' and line[471:474] == '001'

In [4]:
%%time

# file_CMDT_list 파일을 하나씩 하나씩 읽어서 진행
for i in file_CMDT_list:
    print('Current_Reading_File_Name: ', i)
    with open('{0}\\{1}'.format(read_path, i), 'r', encoding='ISO-8859-1') as f:
        result = []
        lines = f.readlines()
        array_data = []
        
        A3 = False
        
        for line in lines:
            if is_target_product_ID(line):
                product_id = line[53:64]
                product_code = line[35:47]
                date = line[27:35]
                print('product_id:', product_id)
                print('product_code:', product_code)
                print('date:', date)
                break

        for line in lines: 
            array_data.append(np.array(line.split(',')))        
                
        for line in array_data:
            if (line[0][17:19]) == 'A3':
                A3 = True

            if ((line[0][22:34] == product_code) or (line[0][38:49] == product_id)) and A3 == True:

                if line[0][17:19] == 'A3':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([date,
                                   line[0][:17],
                                   line[0][17:19],
                                   line[0][40:48], 
                                   line[0][48:54],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   line[0][152:153],
                                   np.nan, 
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan
                                  ])
                    
                elif line[0][17:19] == 'B6':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([date,
                                   line[0][:17],
                                   line[0][17:19],                                   
                                   np.nan,
                                   np.nan,
                                   line[0][131:139],
                                   line[0][139:145],
                                   line[0][49:57],
                                   line[0][57:63],
                                   np.nan,
                                   line[0][123:130],
                                   line[0][41:48],
                                   np.nan,
                                   np.nan,
                                   np.nan
                                  ])
                    
                elif line[0][17:19] == 'G7':
                    if (line[0][1:16] > '15:35:00-000001'): continue                
                    result.append([date,
                                   line[0][:17],
                                   line[0][17:19],                                   
                                   line[0][40:48],
                                   line[0][48:54],
                                   line[0][243:251],
                                   line[0][251:257],
                                   line[0][161:169],
                                   line[0][169:175],
                                   line[0][152:153],
                                   line[0][235:242],
                                   line[0][153:160],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   ])
                    
                elif line[0][17:19] == 'H1':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([date,
                                   line[0][:17],
                                   line[0][17:19],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   line[0][49:53],
                                   line[0][62:71],
                                   line[0][53:62],
                                   ])

        result_frame = pd.DataFrame(result, columns = df_columns)
        result_frame.drop(0, inplace=True)
        result_frame.reset_index(inplace=True, drop=True)

        result_frame[df_numeric_columns] = result_frame[df_numeric_columns].astype(float)
        result_frame[['현재가', '매도1호가', '매도1잔량', '매수1호가', '매수1잔량', '총잔량매도', '총잔량매수']] = result_frame[['현재가', '매도1호가', '매도1잔량', '매수1호가', '매수1잔량', '총잔량매도', '총잔량매수']].fillna(method='ffill')
        
        engine = create_engine('mysql://root:011592@localhost/sise_2018_cmdt?charset=utf8')
        result_frame.to_sql('{0}_{1}'.format(i[15:19], i[20:24]), con=engine, if_exists = 'replace', index=False)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0102
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180102

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 484")
  cursor.execute(statement, parameters)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0102' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0103
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180103

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0103' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0104
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180104

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0104' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0105
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180105

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0105' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0108
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180108

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0108' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0109
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180109

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0109' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0110
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180110

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0110' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0111
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180111

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0111' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0112
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180112

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0112' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0115
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180115

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0115' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0116
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180116

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0116' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0117
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180117

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0117' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0118
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180118

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0118' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0119
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180119

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0119' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0122
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180122

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0122' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0123
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180123

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0123' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0124
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180124

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0124' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0125
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180125

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0125' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0126
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180126

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0126' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0129
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180129

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0129' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0130
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180130

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0130' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0131
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180131

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0131' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0201
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180201

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0201' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0202
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180202

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0202' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0205
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180205

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0205' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0206
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180206

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0206' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0207
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180207

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0207' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0208
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180208

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0208' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0209
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180209

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0209' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0212
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180212

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0212' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0213
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180213

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0213' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0214
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180214

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0214' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0219
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180219

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0219' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0220
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180220

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0220' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0221
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180221

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0221' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0222
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180222

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0222' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0223
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180223

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0223' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0226
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180226

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0226' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0227
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180227

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0227' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0228
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180228

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0228' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0302
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180302

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0302' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0305
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180305

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0305' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0306
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180306

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0306' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0307
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180307

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0307' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0308
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180308

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0308' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0309
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180309

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0309' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0312
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180312

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0312' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0313
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180313

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0313' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0314
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180314

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0314' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0315
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180315

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0315' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0316
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180316

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0316' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0319
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180319

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0319' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0320
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180320

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0320' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0321
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180321

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0321' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0322
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180322

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0322' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0323
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180323

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0323' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0326
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180326

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0326' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0327
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180327

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0327' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0328
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180328

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0328' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0329
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180329

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0329' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0330
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180330

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0330' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0402
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180402

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0402' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0403
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180403

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0403' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0404
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180404

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0404' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0405
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180405

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0405' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0406
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180406

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0406' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0409
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180409

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0409' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0410
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180410

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0410' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0411
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180411

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0411' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0412
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180412

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0412' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0413
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180413

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0413' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0416
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180416

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0416' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0417
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180417

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0417' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0418
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180418

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0418' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0419
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180419

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0419' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0420
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180420

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0420' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0423
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180423

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0423' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0424
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180424

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0424' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0425
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180425

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0425' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0426
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180426

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0426' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0427
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180427

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0427' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0430
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180430

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0430' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0502
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180502

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0502' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0503
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180503

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0503' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0504
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180504

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0504' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0508
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180508

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0508' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0509
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180509

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0509' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0510
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180510

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0510' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0511
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180511

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0511' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0514
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180514

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0514' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0515
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180515

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0515' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0516
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180516

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0516' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0517
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180517

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0517' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0518
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180518

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0518' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0521
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180521

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0521' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0523
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180523

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0523' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0524
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180524

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0524' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0525
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180525

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0525' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0528
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180528

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0528' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0529
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180529

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0529' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0530
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180530

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0530' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0531
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180531

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0531' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0601
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180601

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0601' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0604
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180604

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0604' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0605
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180605

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0605' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0607
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180607

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0607' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0608
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180608

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0608' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0611
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180611

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0611' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0612
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180612

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0612' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0614
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180614

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0614' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0615
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180615

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0615' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0618
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180618

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0618' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0619
product_id: KRDRVFUBM3
product_code: KR4165N60004
date: 20180619

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0619' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0620
product_id: KRDRVFUBM3
product_code: KR4165N90001
date: 20180620

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0620' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0621
product_id: KRDRVFUBM3
product_code: KR4165N90001
date: 20180621

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0621' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0622
product_id: KRDRVFUBM3
product_code: KR4165N90001
date: 20180622

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0622' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Current_Reading_File_Name:  sise2local.ALL_CMDT.0625
product_id: KRDRVFUBM3
product_code: KR4165N90001
date: 20180625
Wall time: 9min 32s

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0625' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [19]:
result_frame

,날짜,시간,코드,현재가,체결수량,매도1호가,매도1잔량,매수1호가,매수1잔량,최종매도매수,총잔량매도,총잔량매수,투자자유형,투자자매도,투자자매수
0,20180104,[09:00:01-175006],B6,NaN,NaN,10792.0,482.0,10791.0,953.0,NaN,10709.0,9394.0,NaN,NaN,NaN
1,20180104,[09:00:01-323536],G7,10792.0,41.0,10792.0,441.0,10791.0,953.0,2.0,10668.0,9394.0,NaN,NaN,NaN
2,20180104,[09:00:01-343318],G7,10791.0,26.0,10792.0,441.0,10791.0,927.0,1.0,10668.0,9368.0,NaN,NaN,NaN
3,20180104,[09:00:02-434431],B6,10791.0,NaN,10792.0,444.0,10791.0,927.0,NaN,10671.0,9368.0,NaN,NaN,NaN
4,20180104,[09:00:03-439598],B6,10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10672.0,9368.0,NaN,NaN,NaN
5,20180104,[09:00:03-603125],B6,10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10673.0,9368.0,NaN,NaN,NaN
6,20180104,[09:00:03-761902],B6,10791.0,NaN,10792.0,445.0,10791.0,1177.0,NaN,10673.0,9618.0,NaN,NaN,NaN
7,20180104,[09:00:03-763455],B6,10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9618.0,NaN,NaN,NaN
8,20180104,[09:00:03-782178],B6,10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9868.0,NaN,NaN,NaN
9,20180104,[09:00:03-860899],B6,10791.0,NaN,10792.0,443.0,10791.0,1177.0,NaN,10671.0,9868.0,NaN,NaN,NaN
10,20180104,[09:00:03-904282],B6,10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10672.0,9868.0,NaN,NaN,NaN
11,20180104,[09:00:04-932968],B6,10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10172.0,9868.0,NaN,NaN,NaN
12,20180104,[09:00:07-542580],G7,10792.0,50.0,10792.0,394.0,10791.0,1177.0,2.0,10122.0,9868.0,NaN,NaN,NaN
13,20180104,[09:00:08-229408],B6,10792.0,NaN,10792.0,424.0,10791.0,1177.0,NaN,10152.0,9868.0,NaN,NaN,NaN
14,20180104,[09:00:08-415325],G7,10792.0,100.0,10792.0,324.0,10791.0,1177.0,2.0,10052.0,9868.0,NaN,NaN,NaN
15,20180104,[09:00:08-417922],G7,10792.0,100.0,10792.0,224.0,10791.0,1177.0,2.0,9952.0,9868.0,NaN,NaN,NaN
16,20180104,[09:00:08-762789],G7,10792.0,224.0,10793.0,642.0,10792.0,76.0,2.0,9728.0,9944.0,NaN,NaN,NaN
17,20180104,[09:00:08-774407],B6,10792.0,NaN,10793.0,642.0,10792.0,176.0,NaN,9728.0,10044.0,NaN,NaN,NaN
18,20180104,[09:00:09-155400],B6,10792.0,NaN,10793.0,643.0,10792.0,176.0,NaN,9729.0,10044.0,NaN,NaN,NaN
19,20180104,[09:00:09-308922],B6,10792.0,NaN,10793.0,643.0,10792.0,177.0,NaN,9729.0,10045.0,NaN,NaN,NaN
20,20180104,[09:00:10-541573],B6,10792.0,NaN,10793.0,643.0,10792.0,182.0,NaN,9729.0,10050.0,NaN,NaN,NaN
21,20180104,[09:00:10-962692],G7,10792.0,26.0,10793.0,643.0,10792.0,156.0,1.0,9729.0,10024.0,NaN,NaN,NaN
22,20180104,[09:00:11-780415],B6,10792.0,NaN,10793.0,643.0,10792.0,256.0,NaN,9729.0,10124.0,NaN,NaN,NaN
23,20180104,[09:00:12-502337],B6,10792.0,NaN,10793.0,643.0,10792.0,356.0,NaN,9729.0,10224.0,NaN,NaN,NaN
24,20180104,[09:00:13-006459],B6,10792.0,NaN,10793.0,643.0,10792.0,386.0,NaN,9729.0,10254.0,NaN,NaN,NaN
25,20180104,[09:00:15-112682],B6,10792.0,NaN,10793.0,643.0,10792.0,387.0,NaN,9729.0,10255.0,NaN,NaN,NaN
26,20180104,[09:00:16-158032],B6,10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9729.0,10355.0,NaN,NaN,NaN
27,20180104,[09:00:16-291225],B6,10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9731.0,10355.0,NaN,NaN,NaN
28,20180104,[09:00:17-314086],G7,10792.0,25.0,10793.0,643.0,10792.0,462.0,1.0,9731.0,10330.0,NaN,NaN,NaN
29,20180104,[09:00:17-351093],B6,10792.0,NaN,10793.0,643.0,10792.0,463.0,NaN,9731.0,10331.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15944,20180104,[15:34:36-667544],B6,10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11272.0,NaN,NaN,NaN
15945,20180104,[15:34:41-403608],B6,10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11302.0,NaN,NaN,NaN
15946,20180104,[15:34:43-171697],G7,10786.0,5.0,10786.0,411.0,10785.0,2234.0,2.0,16196.0,11302.0,NaN,NaN,NaN
15947,20180104,[15:34:44-107478],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16196.0,11302.0,NaN,NaN,NaN
15948,20180104,[15:34:44-870469],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16198.0,11302.0,NaN,NaN,NaN
15949,20180104,[15:34:45-022415],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16200.0,11302.0,NaN,NaN,NaN
15950,20180104,[15:34:45-159782],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16202.0,11302.0,NaN,NaN,NaN
15951,20180104,[15:34:45-292436],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16204.0,11302.0,NaN,NaN,NaN
15952,20180104,[15:34:45-427983],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16206.0,11302.0,NaN,NaN,NaN
15953,20180104,[15:34:45-537448],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16208.0,11302.0,NaN,NaN,NaN
15954,20180104,[15:34:45-670024],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16210.0,11302.0,NaN,NaN,NaN
15955,20180104,[15:34:45-790025],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16212.0,11302.0,NaN,NaN,NaN
15956,20180104,[15:34:45-913894],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16214.0,11302.0,NaN,NaN,NaN
15957,20180104,[15:34:46-049717],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16216.0,11302.0,NaN,NaN,NaN
15958,20180104,[15:34:46-182368],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16218.0,11302.0,NaN,NaN,NaN
15959,20180104,[15:34:46-313007],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16220.0,11302.0,NaN,NaN,NaN
15960,20180104,[15:34:46-448964],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16222.0,11302.0,NaN,NaN,NaN
15961,20180104,[15:34:46-583753],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16224.0,11302.0,NaN,NaN,NaN
15962,20180104,[15:34:46-708391],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11302.0,NaN,NaN,NaN
15963,20180104,[15:34:49-270970],B6,10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11303.0,NaN,NaN,NaN
15964,20180104,[15:34:51-271212],B6,10786.0,NaN,10786.0,452.0,10785.0,2234.0,NaN,16227.0,11303.0,NaN,NaN,NaN
15965,20180104,[15:34:54-229852],B6,10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10803.0,NaN,NaN,NaN
15966,20180104,[15:34:55-541549],B6,10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10303.0,NaN,NaN,NaN
15967,20180104,[15:34:57-791134],B6,10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16247.0,10303.0,NaN,NaN,NaN
15968,20180104,[15:34:57-941698],B6,10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16267.0,10303.0,NaN,NaN,NaN
15969,20180104,[15:34:57-972879],G7,10786.0,20.0,10786.0,432.0,10785.0,1734.0,2.0,16247.0,10303.0,NaN,NaN,NaN
15970,20180104,[15:34:58-068353],B6,10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16267.0,10303.0,NaN,NaN,NaN
15971,20180104,[15:34:58-183682],B6,10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16287.0,10303.0,NaN,NaN,NaN
15972,20180104,[15:34:58-296478],B6,10786.0,NaN,10786.0,432.0,10785.0,1784.0,NaN,16287.0,10353.0,NaN,NaN,NaN
15973,20180104,[15:34:58-334457],B6,10786.0,NaN,10786.0,482.0,10785.0,1784.0,NaN,16337.0,10353.0,NaN,NaN,NaN

## 1) DB Data Exporting to Python

In [14]:
from sqlalchemy import create_engine
import MySQLdb
import pandas as pd
import numpy as np
import re
import os
import time
import MySQLdb
pd.options.mode.chained_assignment = None

In [15]:
db = MySQLdb.connect(
    'localhost',
    'root',
    '011592',
    'sise_2018_cmdt',
    charset='utf8')

curs = db.cursor()

QUERY = '''
    show tables;
'''

data = pd.read_sql(QUERY, db)

In [16]:
# Path Setting #
read_path = 'C:\\Finance_team\\raw_full_2018'
out_path = 'C:\\Finance_team\\Testing_result'

In [17]:
%%time
# 원본이니 지우지 말것
# 추가사항: 시간 외에 code 도 String column임
for i in list(data.iloc[:,0]):
    QUERY = '''
    select *
    FROM {} where 코드 IN('A3', 'B6', 'G7', 'H1') ;
    '''.format(i)
    print(i) # data base table name print
    df = pd.read_sql(QUERY, db)
    
    h1 = df.copy()
    h1 = h1[['시간', '투자자매수', '투자자매도']][h1['투자자유형'] == '1000']
    h1['투자자변화량차이'] = h1['투자자매수'].diff() - h1['투자자매도'].diff()
    
    h1['H1_Flag'] = np.nan
    h1['H1_Flag'][h1['투자자변화량차이'] > 0] = 1
    h1['H1_Flag'][h1['투자자변화량차이'] < 0] = -1
    h1['H1_Flag'][h1['투자자변화량차이'] == 0] =0
    
    
    others = df[['날짜', '시간', '현재가', '체결수량', '매수1잔량', '매도1잔량', '최종매도매수']][df['투자자유형'] != '1000'].copy()
    others['매수1잔량-매도1잔량'] = others['매수1잔량'] - others['매도1잔량']
    others['Rest_Flag'] = np.nan
    others["Rest_Flag"][others['매수1잔량-매도1잔량'] > 0] = 1
    others["Rest_Flag"][others['매수1잔량-매도1잔량'] == 0] = 0
    others["Rest_Flag"][others['매수1잔량-매도1잔량'] < 0] = -1
    
    total = pd.concat([others, h1])
    total.sort_index(inplace=True)
    
    cols = ['날짜', '시간', '현재가', '체결수량', '최종매도매수', '매수1잔량', '매도1잔량', '매수1잔량-매도1잔량', 'Rest_Flag',
            '투자자매수', '투자자매도', 'H1_Flag']
    
    total_test = total[cols]
    
    total_test['현재가'].fillna(method='ffill', inplace=True)
    total_test['H1_Flag'].fillna(method='ffill', inplace=True)
    total_test['Rest_Flag'].fillna(method='ffill', inplace=True)
    
    final_total = total_test[['날짜', '시간', '현재가', '매수1잔량', '매도1잔량', 'H1_Flag', 'Rest_Flag']]
    
    final_total['H1_Flag'][final_total['H1_Flag'] == 0] = np.nan
    final_total['Rest_Flag'][final_total['Rest_Flag'] == 0] = np.nan
    
    final_total['H1_Flag'].fillna(method='ffill', inplace=True)
    final_total['Rest_Flag'].fillna(method='ffill', inplace=True)
    
    
    
#     total['H1_Flag'].fillna(method='ffill', inplace=True)
#     total['Rest_Flag'].fillna(method='ffill', inplace=True)
    
    final_total.loc[:,'long_signal'] = np.nan; final_total.loc[:, 'long_close_signal'] = np.nan
    
    date = final_total['날짜'][0]
    
    renew_index_long = 0
    holding_position = 0
    Daily_profitandloss = 0

    order_count = 0

    long_count = 0
    long_close_count = 0
    long_close_at_34 = 0

    short_count = 0
    short_close_count = 0
    short_close_at_34 = 0

    while True:
        for index, row in final_total.loc[renew_index_long:].iterrows():


        ######################################## Holding_Position == 0 ################################################

            if holding_position == 0:


                ################################### 'Buy SIgnal Start' ##################################################


                if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                    renew_index_long = index
                    # print('Long Signal Found')
                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                    for index, row in final_total.loc[renew_index_long:].iterrows():

                        if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                            renew_index_long = index

                            holding_position += 1
                            order_count += 1
                            long_count += 1

                            price_Long = final_total.loc[index,'현재가']

                            # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Long 가격:', price_Long)
                            # print('Current Holding Position', holding_position)

                            for index, row in final_total.loc[renew_index_long:].iterrows():

                                if row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                    renew_index_long = index
                                    # print('Long Closing Signal Found')
                                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                    for index, row in final_total.loc[renew_index_long:].iterrows():

                                        if row['H1_Flag'] == 1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                            renew_index_long = index

                                            holding_position -= 1

                                            order_count += 1
                                            long_close_count += 1

                                            price_Closing_Long = final_total.loc[index,'현재가']

                                            Long_p_and_l = price_Closing_Long - price_Long

                                            Daily_profitandloss += Long_p_and_l

                                            # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                            #       'Closing_Long_가격:',price_Closing_Long, 'Long Profit:', Long_p_and_l)
                                            # print('Current Holding Position', holding_position)
                                            # print('Long Closing Signal Finding is All Done')
                                            # print('########################################')
                                            break
                                    break

                                elif (final_total.loc[renew_index_long, '시간'][1:3] == '15') and (final_total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                    holding_position -= 1
                                    order_count += 1
                                    long_close_count += 1
                                    long_close_at_34 += 1
                                    price_Closing_Long_at_34 = final_total.loc[index, '현재가']
                                    Long_p_and_l = price_Closing_Long_at_34 - price_Long
                                    Daily_profitandloss += Long_p_and_l

                                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                    #           'Closing_Long_at_34_가격:', price_Closing_Long_at_34, '34_Long Profit:', Long_p_and_l)
                                    # print('Current Holding Position', holding_position)

                                    break

                            break
                    break

                ################################### 'Short SIgnal Start' ##################################################

                elif row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                    renew_index_long = index
                    # print('Short Signal Found')
                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                    for index, row in final_total.loc[renew_index_long:].iterrows():

                        if row['H1_Flag'] == 1 and row['Rest_Flag'] and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34') == 1:

                            renew_index_long = index
                            holding_position += 1
                            order_count += 1
                            short_count += 1

                            price_Short = final_total.loc[index,'현재가']

                            # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Short 가격:', price_Short)
                            # print('Current Holding Position', holding_position)

                            for index, row in final_total.loc[renew_index_long:].iterrows():

                                if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                    renew_index_long = index
                                    # print('Short Closing Signal Found')
                                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                    for index, row in final_total.loc[renew_index_long:].iterrows():

                                        if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                            renew_index_long = index

                                            holding_position -= 1

                                            order_count += 1
                                            short_close_count += 1

                                            price_Closing_Short = final_total.loc[index,'현재가']

                                            Short_p_and_l = price_Short - price_Closing_Short

                                            Daily_profitandloss += Short_p_and_l

                                            # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                            #       'Closing_Short_가격:',price_Closing_Short, 'Short Profit:', Short_p_and_l)
                                            # print('Current Holding Position', holding_position)
                                            # print('Short Closing Signal Finding is All Done')
                                            # print('########################################')

                                            break

                                    break

                                elif (final_total.loc[renew_index_long, '시간'][1:3] == '15') and (final_total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                        holding_position -= 1
                                        order_count += 1
                                        short_close_count += 1
                                        short_close_at_34 += 1

                                        price_Closing_Short_at_34 = final_total.loc[index, '현재가']
                                        Short_p_and_l = price_Short - price_Closing_Short_at_34
                                        Daily_profitandloss += Short_p_and_l

                                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                        #       'Closing_Short_at_34_가격:', price_Closing_Short_at_34, '34_Short Profit:', Short_p_and_l)
                                        # print('Current Holding Position', holding_position)

                                        break

                            break
                    break


        if (index + 1) == len(final_total.loc[:]):
            print('break')
            break
    

    Result File 초기 생성
    result_file_columns = \
    'Date,Today_profit,Today_order_quantity,short_quantity,\
    short_reamined_quantity,long_quantity,long_remained_quantity,\
    short_close_quantity_at_last,long_close_quantity_at_last\n'
    
    result_file = open(out_path + '\\profit_loss_KR4165N30007_김종재.csv', 'a', encoding='ISO-8859-1')
    
    if os.path.getsize(out_path + '\\profit_loss_KR4165N30007_김종재.csv') == 0:
        result_file.write(result_file_columns)
    
    result_file.write('{0},{1},{2},{3},{4},{5},{6},{7},{8}\n'.format(date, Daily_profitandloss, order_count,
                      short_count, short_close_count, long_count, long_close_count,
                     long_close_at_34, short_close_at_34))
    result_file.close()

cmdt_0102
break
cmdt_0103
break
cmdt_0104
break
cmdt_0105
break
cmdt_0108
break
cmdt_0109
break
cmdt_0110
break
cmdt_0111
break
cmdt_0112
break
cmdt_0115
break
cmdt_0116
break
cmdt_0117
break
cmdt_0118
break
cmdt_0119
break
cmdt_0122
break
cmdt_0123
break
cmdt_0124
break
cmdt_0125
break
cmdt_0126
break
cmdt_0129
break
cmdt_0130
break
cmdt_0131
break
cmdt_0201
break
cmdt_0202
break
cmdt_0205
break
cmdt_0206
break
cmdt_0207
break
cmdt_0208
break
cmdt_0209
break
cmdt_0212
break
cmdt_0213
break
cmdt_0214
break
cmdt_0219
break
cmdt_0220
break
cmdt_0221
break
cmdt_0222
break
cmdt_0223
break
cmdt_0226
break
cmdt_0227
break
cmdt_0228
break
cmdt_0302
break
cmdt_0305
break
cmdt_0306
break
cmdt_0307
break
cmdt_0308
break
cmdt_0309
break
cmdt_0312
break
cmdt_0313
break
cmdt_0314
break
cmdt_0315
break
cmdt_0316
break
cmdt_0319
break
cmdt_0320
break
cmdt_0321
break
cmdt_0322
break
cmdt_0323
break
cmdt_0326
break
cmdt_0327
break
cmdt_0328
break
cmdt_0329
break
cmdt_0330
break
cmdt_0402
break
cmdt_0403
break
cmdt_0404
break
cmdt_0405
break
cmdt_0406
break
cmdt_0409
break
cmdt_0410
break
cmdt_0411
break
cmdt_0412
break
cmdt_0413
break
cmdt_0416
break
cmdt_0417
break
cmdt_0418
break
cmdt_0419
break
cmdt_0420
break
cmdt_0423
break
cmdt_0424
break
cmdt_0425
break
cmdt_0426
break
cmdt_0427
break
cmdt_0430
break
cmdt_0502
break
cmdt_0503
break
cmdt_0504
break
cmdt_0508
break
cmdt_0509
break
cmdt_0510
break
cmdt_0511
break
cmdt_0514
break
cmdt_0515
break
cmdt_0516
break
cmdt_0517
break
cmdt_0518
break
cmdt_0521
break
cmdt_0523
break
cmdt_0524
break
cmdt_0525
break
cmdt_0528
break
cmdt_0529
break
cmdt_0530
break
cmdt_0531
break
cmdt_0601
break
cmdt_0604
break
cmdt_0605
break
cmdt_0607
break
cmdt_0608
break
cmdt_0611
break
cmdt_0612
break
cmdt_0614
break
cmdt_0615
break
cmdt_0618
break
cmdt_0619
break
cmdt_0620
break
cmdt_0621
break
cmdt_0622
break
cmdt_0625
break
Wall time: 2min 54s

In [13]:
db.close()