## 3년 국채 선물 Data Handling

## 1) Real_Time Data DB Insert

In [30]:
from sqlalchemy import create_engine
import MySQLdb
import pandas as pd
import numpy as np
import re
import os
import time
import MySQLdb
pd.options.mode.chained_assignment = None

In [31]:
# Path Setting #
read_path = 'C:\\Finance_team\\test'
out_path = 'C:\\Finance_team\\Testing_result'

# Data Frame 파일 초기 Column 설정 #
df_columns = ['시간',     
              '현재가',
              '체결수량', 
              '매도1호가',
              '매도1잔량',
              '매수1호가',
              '매수1잔량',
              '최종매도매수',
              '총잔량매도',
              '총잔량매수',
              '코드',
              '투자자유형',
              '투자자매도',
              '투자자매수']

df_numeric_columns = ['현재가',   # 1) 시간 2) 코드 제외 (Text) 
              '체결수량', 
              '매도1호가',
              '매도1잔량',
              '매수1호가',
              '매수1잔량',
              '최종매도매수',
              '총잔량매도',
              '총잔량매수',
              '투자자매도',
              '투자자매수']

# Raw File 저장 Directory를 찾아서, 그 안의 파일명을 호출하여 List로 변환 #
file_list = os.listdir(read_path)
file_CMDT_list = []

# Directory에서 CMDT File 만 Sorting하여 file_CMDT_list에 Insert
for file in file_list:
    if file[0:19] == 'sise2local.ALL_CMDT':
        file_CMDT_list.append(file)

## 변수 초기 설정
product_id = ''
product_code = ''
date = ''

In [32]:
def is_target_product_ID(line):
    return line[17:19] == 'A0' and line[425:428] == 'BM3' and line[471:474] == '001'

In [34]:
%%time

# file_CMDT_list 파일을 하나씩 하나씩 읽어서 진행
for i in file_CMDT_list:
    print('Current_Reading_File_Name: ', i)
    with open('{0}\\{1}'.format(read_path, i), 'r', encoding='ISO-8859-1') as f:
        result = []
        lines = f.readlines()
        array_data = []
        
        A3 = False
        
        for line in lines:
            if is_target_product_ID(line):
                product_id = line[53:64]
                product_code = line[35:47]
                date = line[27:35]
                print('product_id:', product_id)
                print('product_code:', product_code)
                print('date:', date)
                break

        for line in lines: 
            array_data.append(np.array(line.split(',')))        
                
        for line in array_data:
            if (line[0][17:19]) == 'A3':
                A3 = True

            if ((line[0][22:34] == product_code) or (line[0][38:49] == product_id)) and A3 == True:

                if line[0][17:19] == 'A3':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([line[0][:17],  
                                   line[0][40:48], 
                                   line[0][48:54],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   line[0][152:153],
                                   np.nan, 
                                   np.nan,
                                   line[0][17:19],
                                   np.nan,
                                   np.nan,
                                   np.nan
                                  ])
                    
                elif line[0][17:19] == 'B6':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([line[0][:17],
                                   np.nan,
                                   np.nan,
                                   line[0][131:139],
                                   line[0][139:145],
                                   line[0][49:57],
                                   line[0][57:63],
                                   np.nan,
                                   line[0][123:130],
                                   line[0][41:48],
                                   line[0][17:19],
                                   np.nan,
                                   np.nan,
                                   np.nan
                                  ])
                    
                elif line[0][17:19] == 'G7':
                    if (line[0][1:16] > '15:35:00-000001'): continue                
                    result.append([line[0][:17],
                                   line[0][40:48],
                                   line[0][48:54],
                                   line[0][243:251],
                                   line[0][251:257],
                                   line[0][161:169],
                                   line[0][169:175],
                                   line[0][152:153],
                                   line[0][235:242],
                                   line[0][153:160],
                                   line[0][17:19],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   ])
                    
                elif line[0][17:19] == 'H1':
                    if (line[0][1:16] > '15:35:00-000001'): continue
                    result.append([line[0][:17],
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   np.nan,
                                   line[0][17:19],
                                   line[0][49:53],
                                   line[0][62:71],
                                   line[0][53:62],
                                   ])

        result_frame = pd.DataFrame(result, columns = df_columns)
        result_frame.drop(0, inplace=True)
        
        result_frame[df_numeric_columns] = result_frame[df_numeric_columns].astype(float)
        result_frame[['현재가', '매도1호가', '매도1잔량', '매수1호가', '매수1잔량', '총잔량매도', '총잔량매수']] = result_frame[['현재가', '매도1호가', '매도1잔량', '매수1호가', '매수1잔량', '총잔량매도', '총잔량매수']].fillna(method='ffill')
        
        engine = create_engine('mysql://root:011592@localhost/sise_2018_cmdt?charset=utf8')
        result_frame.to_sql('{0}_{1}'.format(i[15:19], i[20:24]), con=engine, if_exists = 'replace')

Current_Reading_File_Name:  sise2local.ALL_CMDT.0104
product_id: KRDRVFUBM3
product_code: KR4165N30007
date: 20180104

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 484")
  cursor.execute(statement, parameters)

Wall time: 4.14 s

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1173: UserWarning: The provided table name 'CMDT_0104' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [35]:
result_frame

,시간,현재가,체결수량,매도1호가,매도1잔량,매수1호가,매수1잔량,최종매도매수,총잔량매도,총잔량매수,코드,투자자유형,투자자매도,투자자매수
1,[09:00:01-175006],NaN,NaN,10792.0,482.0,10791.0,953.0,NaN,10709.0,9394.0,B6,NaN,NaN,NaN
2,[09:00:01-323536],10792.0,41.0,10792.0,441.0,10791.0,953.0,2.0,10668.0,9394.0,G7,NaN,NaN,NaN
3,[09:00:01-343318],10791.0,26.0,10792.0,441.0,10791.0,927.0,1.0,10668.0,9368.0,G7,NaN,NaN,NaN
4,[09:00:02-434431],10791.0,NaN,10792.0,444.0,10791.0,927.0,NaN,10671.0,9368.0,B6,NaN,NaN,NaN
5,[09:00:03-439598],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10672.0,9368.0,B6,NaN,NaN,NaN
6,[09:00:03-603125],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10673.0,9368.0,B6,NaN,NaN,NaN
7,[09:00:03-761902],10791.0,NaN,10792.0,445.0,10791.0,1177.0,NaN,10673.0,9618.0,B6,NaN,NaN,NaN
8,[09:00:03-763455],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9618.0,B6,NaN,NaN,NaN
9,[09:00:03-782178],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9868.0,B6,NaN,NaN,NaN
10,[09:00:03-860899],10791.0,NaN,10792.0,443.0,10791.0,1177.0,NaN,10671.0,9868.0,B6,NaN,NaN,NaN
11,[09:00:03-904282],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10672.0,9868.0,B6,NaN,NaN,NaN
12,[09:00:04-932968],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10172.0,9868.0,B6,NaN,NaN,NaN
13,[09:00:07-542580],10792.0,50.0,10792.0,394.0,10791.0,1177.0,2.0,10122.0,9868.0,G7,NaN,NaN,NaN
14,[09:00:08-229408],10792.0,NaN,10792.0,424.0,10791.0,1177.0,NaN,10152.0,9868.0,B6,NaN,NaN,NaN
15,[09:00:08-415325],10792.0,100.0,10792.0,324.0,10791.0,1177.0,2.0,10052.0,9868.0,G7,NaN,NaN,NaN
16,[09:00:08-417922],10792.0,100.0,10792.0,224.0,10791.0,1177.0,2.0,9952.0,9868.0,G7,NaN,NaN,NaN
17,[09:00:08-762789],10792.0,224.0,10793.0,642.0,10792.0,76.0,2.0,9728.0,9944.0,G7,NaN,NaN,NaN
18,[09:00:08-774407],10792.0,NaN,10793.0,642.0,10792.0,176.0,NaN,9728.0,10044.0,B6,NaN,NaN,NaN
19,[09:00:09-155400],10792.0,NaN,10793.0,643.0,10792.0,176.0,NaN,9729.0,10044.0,B6,NaN,NaN,NaN
20,[09:00:09-308922],10792.0,NaN,10793.0,643.0,10792.0,177.0,NaN,9729.0,10045.0,B6,NaN,NaN,NaN
21,[09:00:10-541573],10792.0,NaN,10793.0,643.0,10792.0,182.0,NaN,9729.0,10050.0,B6,NaN,NaN,NaN
22,[09:00:10-962692],10792.0,26.0,10793.0,643.0,10792.0,156.0,1.0,9729.0,10024.0,G7,NaN,NaN,NaN
23,[09:00:11-780415],10792.0,NaN,10793.0,643.0,10792.0,256.0,NaN,9729.0,10124.0,B6,NaN,NaN,NaN
24,[09:00:12-502337],10792.0,NaN,10793.0,643.0,10792.0,356.0,NaN,9729.0,10224.0,B6,NaN,NaN,NaN
25,[09:00:13-006459],10792.0,NaN,10793.0,643.0,10792.0,386.0,NaN,9729.0,10254.0,B6,NaN,NaN,NaN
26,[09:00:15-112682],10792.0,NaN,10793.0,643.0,10792.0,387.0,NaN,9729.0,10255.0,B6,NaN,NaN,NaN
27,[09:00:16-158032],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9729.0,10355.0,B6,NaN,NaN,NaN
28,[09:00:16-291225],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9731.0,10355.0,B6,NaN,NaN,NaN
29,[09:00:17-314086],10792.0,25.0,10793.0,643.0,10792.0,462.0,1.0,9731.0,10330.0,G7,NaN,NaN,NaN
30,[09:00:17-351093],10792.0,NaN,10793.0,643.0,10792.0,463.0,NaN,9731.0,10331.0,B6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15945,[15:34:36-667544],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11272.0,B6,NaN,NaN,NaN
15946,[15:34:41-403608],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11302.0,B6,NaN,NaN,NaN
15947,[15:34:43-171697],10786.0,5.0,10786.0,411.0,10785.0,2234.0,2.0,16196.0,11302.0,G7,NaN,NaN,NaN
15948,[15:34:44-107478],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16196.0,11302.0,B6,NaN,NaN,NaN
15949,[15:34:44-870469],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16198.0,11302.0,B6,NaN,NaN,NaN
15950,[15:34:45-022415],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16200.0,11302.0,B6,NaN,NaN,NaN
15951,[15:34:45-159782],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16202.0,11302.0,B6,NaN,NaN,NaN
15952,[15:34:45-292436],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16204.0,11302.0,B6,NaN,NaN,NaN
15953,[15:34:45-427983],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16206.0,11302.0,B6,NaN,NaN,NaN
15954,[15:34:45-537448],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16208.0,11302.0,B6,NaN,NaN,NaN
15955,[15:34:45-670024],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16210.0,11302.0,B6,NaN,NaN,NaN
15956,[15:34:45-790025],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16212.0,11302.0,B6,NaN,NaN,NaN
15957,[15:34:45-913894],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16214.0,11302.0,B6,NaN,NaN,NaN
15958,[15:34:46-049717],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16216.0,11302.0,B6,NaN,NaN,NaN
15959,[15:34:46-182368],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16218.0,11302.0,B6,NaN,NaN,NaN
15960,[15:34:46-313007],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16220.0,11302.0,B6,NaN,NaN,NaN
15961,[15:34:46-448964],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16222.0,11302.0,B6,NaN,NaN,NaN
15962,[15:34:46-583753],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16224.0,11302.0,B6,NaN,NaN,NaN
15963,[15:34:46-708391],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11302.0,B6,NaN,NaN,NaN
15964,[15:34:49-270970],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11303.0,B6,NaN,NaN,NaN
15965,[15:34:51-271212],10786.0,NaN,10786.0,452.0,10785.0,2234.0,NaN,16227.0,11303.0,B6,NaN,NaN,NaN
15966,[15:34:54-229852],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10803.0,B6,NaN,NaN,NaN
15967,[15:34:55-541549],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10303.0,B6,NaN,NaN,NaN
15968,[15:34:57-791134],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16247.0,10303.0,B6,NaN,NaN,NaN
15969,[15:34:57-941698],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,NaN,NaN,NaN
15970,[15:34:57-972879],10786.0,20.0,10786.0,432.0,10785.0,1734.0,2.0,16247.0,10303.0,G7,NaN,NaN,NaN
15971,[15:34:58-068353],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,NaN,NaN,NaN
15972,[15:34:58-183682],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16287.0,10303.0,B6,NaN,NaN,NaN
15973,[15:34:58-296478],10786.0,NaN,10786.0,432.0,10785.0,1784.0,NaN,16287.0,10353.0,B6,NaN,NaN,NaN
15974,[15:34:58-334457],10786.0,NaN,10786.0,482.0,10785.0,1784.0,NaN,16337.0,10353.0,B6,NaN,NaN,NaN

## 1) DB Data Exporting to Python

In [36]:
from sqlalchemy import create_engine
import MySQLdb
import pandas as pd
import numpy as np
import re
import os
import time
import MySQLdb
pd.options.mode.chained_assignment = None

In [37]:
db = MySQLdb.connect(
    'localhost',
    'root',
    '011592',
    'sise_2018_cmdt',
    charset='utf8')

curs = db.cursor()

QUERY = '''
    show tables;
'''

data = pd.read_sql(QUERY, db)

In [42]:
for i in list(data.iloc[:,0]):
    QUERY = '''
    select *
    FROM {} where 투자자유형 = '1000';
    '''.format(i)
    print(QUERY)
    df = pd.read_sql(QUERY, db)
    
    h1 = df.copy()
    h1 = h1[['시간', '투자자매수', '투자자매도']][h1['투자자유형'] == '1000']
    h1['투자자변화량차이'] = h1['투자자매수'].diff() - h1['투자자매도'].diff()
    h1['H1_Flag'] = np.nan
    h1['H1_Flag'][h1['투자자변화량차이'] > 0] = 1
    h1['H1_Flag'][h1['투자자변화량차이'] < 0] = -1
    h1['H1_Flag'][h1['투자자변화량차이'] == 0] =0
    
    
    others = df[['시간', '현재가', '체결수량', '매수1잔량', '매도1잔량', '최종매도매수']][df['투자자유형'] != '1000'].copy()
    others['매수1호가수량-매도1호가수량'] = others['매수1잔량'] - others['매도1잔량']
    others['Rest_Flag'] = np.nan
    others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] > 0] = 1
    others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] == 0] = 0
    others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] < 0] = -1
    
    total = pd.concat([others, h1])
    total.sort_index(inplace=True)
    
    total['H1_Flag'].fillna(method='ffill', inplace=True)
    total['Rest_Flag'].fillna(method='ffill', inplace=True)
    
    total.loc[:,'long_signal'] = np.nan; total.loc[:, 'long_close_signal'] = np.nan

    renew_index_long = 0
    holding_position = 0
    Daily_profitandloss = 0

    order_count = 0

    long_count = 0
    long_close_count = 0
    long_close_at_34 = 0

    short_count = 0
    short_close_count = 0
    short_close_at_34 = 0
    
#     while True:
#         for index, row in total.loc[renew_index_long:].iterrows():


#         ######################################## Holding_Position == 0 ################################################

#             if holding_position == 0:


#                 ################################### 'Buy SIgnal Start' ##################################################


#                 if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                     renew_index_long = index
#                     # print('Long Signal Found')
#                     # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

#                     for index, row in total.loc[renew_index_long:].iterrows():

#                         if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                             renew_index_long = index

#                             holding_position += 1
#                             order_count += 1
#                             long_count += 1

#                             price_Long = total.loc[index,'현재가']

#                             # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Long 가격:', price_Long)
#                             # print('Current Holding Position', holding_position)

#                             for index, row in total.loc[renew_index_long:].iterrows():

#                                 if row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                                     renew_index_long = index
#                                     # print('Long Closing Signal Found')
#                                     # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

#                                     for index, row in total.loc[renew_index_long:].iterrows():

#                                         if row['H1_Flag'] == 1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                                             renew_index_long = index

#                                             holding_position -= 1

#                                             order_count += 1
#                                             long_close_count += 1

#                                             price_Closing_Long = total.loc[index,'현재가']

#                                             Long_p_and_l = price_Closing_Long - price_Long

#                                             Daily_profitandloss += Long_p_and_l

#                                             # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
#                                             #       'Closing_Long_가격:',price_Closing_Long, 'Long Profit:', Long_p_and_l)
#                                             # print('Current Holding Position', holding_position)
#                                             # print('Long Closing Signal Finding is All Done')
#                                             # print('########################################')
#                                             break
#                                     break

#                                 elif (total.loc[renew_index_long, '시간'][1:3] == '15') and (total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
#                                     holding_position -= 1
#                                     order_count += 1
#                                     long_close_count += 1
#                                     long_close_at_34 += 1
#                                     price_Closing_Long_at_34 = total.loc[index, '현재가']
#                                     Long_p_and_l = price_Closing_Long_at_34 - price_Long
#                                     Daily_profitandloss += Long_p_and_l

#                                     # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
#                                     #           'Closing_Long_at_34_가격:', price_Closing_Long_at_34, '34_Long Profit:', Long_p_and_l)
#                                     # print('Current Holding Position', holding_position)

#                                     break

#                             break
#                     break

#                 ################################### 'Short SIgnal Start' ##################################################

#                 elif row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                     renew_index_long = index
#                     # print('Short Signal Found')
#                     # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

#                     for index, row in total.loc[renew_index_long:].iterrows():

#                         if row['H1_Flag'] == 1 and row['Rest_Flag'] and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34') == 1:

#                             renew_index_long = index
#                             holding_position += 1
#                             order_count += 1
#                             short_count += 1

#                             price_Short = total.loc[index,'현재가']

#                             # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Short 가격:', price_Short)
#                             # print('Current Holding Position', holding_position)

#                             for index, row in total.loc[renew_index_long:].iterrows():

#                                 if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                                     renew_index_long = index
#                                     # print('Short Closing Signal Found')
#                                     # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

#                                     for index, row in total.loc[renew_index_long:].iterrows():

#                                         if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
#                                             renew_index_long = index

#                                             holding_position -= 1

#                                             order_count += 1
#                                             short_close_count += 1

#                                             price_Closing_Short = total.loc[index,'현재가']

#                                             Short_p_and_l = price_Short - price_Closing_Short

#                                             Daily_profitandloss += Short_p_and_l

#                                             # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
#                                             #       'Closing_Short_가격:',price_Closing_Short, 'Short Profit:', Short_p_and_l)
#                                             # print('Current Holding Position', holding_position)
#                                             # print('Short Closing Signal Finding is All Done')
#                                             # print('########################################')

#                                             break
#                                     break

#                                 elif (total.loc[renew_index_long, '시간'][1:3] == '15') and (total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
#                                         holding_position -= 1
#                                         order_count += 1
#                                         short_close_count += 1
#                                         short_close_at_34 += 1

#                                         price_Closing_Short_at_34 = total.loc[index, '현재가']
#                                         Short_p_and_l = price_Short - price_Closing_Short_at_34
#                                         Daily_profitandloss += Short_p_and_l

#                                         # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
#                                         #       'Closing_Short_at_34_가격:', price_Closing_Short_at_34, '34_Short Profit:', Short_p_and_l)
#                                         # print('Current Holding Position', holding_position)

#                                         break

#                             break
#                     break


#         if index == len(total.loc[:]):
#             break
#     result_file = open(out_path + '\\profit_loss_KR4165N30007_김종재.csv', 'a', encoding='ISO-8859-1')
#     result_file.write('{0},{1},{2},{3},{4},{5},{6},{7},{8}\n'.format(date, Daily_profitandloss, order_count,
#                       short_count, short_close_count, long_count, long_close_count,
#                      long_close_at_34, short_close_at_34))
#     result_file.close()

    select *
    FROM cmdt_0104 where 투자자유형 = '1000';

In [18]:
db.close()

,index,시간,현재가,체결수량,매도1호가,매도1잔량,매수1호가,매수1잔량,최종매도매수,총잔량매도,총잔량매수,코드,투자자유형,투자자매도,투자자매수
0,1,[09:00:01-175006],NaN,NaN,10792.0,482.0,10791.0,953.0,NaN,10709.0,9394.0,B6,None,NaN,NaN
1,2,[09:00:01-323536],10792.0,41.0,10792.0,441.0,10791.0,953.0,2.0,10668.0,9394.0,G7,None,NaN,NaN
2,3,[09:00:01-343318],10791.0,26.0,10792.0,441.0,10791.0,927.0,1.0,10668.0,9368.0,G7,None,NaN,NaN
3,4,[09:00:02-434431],10791.0,NaN,10792.0,444.0,10791.0,927.0,NaN,10671.0,9368.0,B6,None,NaN,NaN
4,5,[09:00:03-439598],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10672.0,9368.0,B6,None,NaN,NaN
5,6,[09:00:03-603125],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10673.0,9368.0,B6,None,NaN,NaN
6,7,[09:00:03-761902],10791.0,NaN,10792.0,445.0,10791.0,1177.0,NaN,10673.0,9618.0,B6,None,NaN,NaN
7,8,[09:00:03-763455],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9618.0,B6,None,NaN,NaN
8,9,[09:00:03-782178],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9868.0,B6,None,NaN,NaN
9,10,[09:00:03-860899],10791.0,NaN,10792.0,443.0,10791.0,1177.0,NaN,10671.0,9868.0,B6,None,NaN,NaN
10,11,[09:00:03-904282],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10672.0,9868.0,B6,None,NaN,NaN
11,12,[09:00:04-932968],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10172.0,9868.0,B6,None,NaN,NaN
12,13,[09:00:07-542580],10792.0,50.0,10792.0,394.0,10791.0,1177.0,2.0,10122.0,9868.0,G7,None,NaN,NaN
13,14,[09:00:08-229408],10792.0,NaN,10792.0,424.0,10791.0,1177.0,NaN,10152.0,9868.0,B6,None,NaN,NaN
14,15,[09:00:08-415325],10792.0,100.0,10792.0,324.0,10791.0,1177.0,2.0,10052.0,9868.0,G7,None,NaN,NaN
15,16,[09:00:08-417922],10792.0,100.0,10792.0,224.0,10791.0,1177.0,2.0,9952.0,9868.0,G7,None,NaN,NaN
16,17,[09:00:08-762789],10792.0,224.0,10793.0,642.0,10792.0,76.0,2.0,9728.0,9944.0,G7,None,NaN,NaN
17,18,[09:00:08-774407],10792.0,NaN,10793.0,642.0,10792.0,176.0,NaN,9728.0,10044.0,B6,None,NaN,NaN
18,19,[09:00:09-155400],10792.0,NaN,10793.0,643.0,10792.0,176.0,NaN,9729.0,10044.0,B6,None,NaN,NaN
19,20,[09:00:09-308922],10792.0,NaN,10793.0,643.0,10792.0,177.0,NaN,9729.0,10045.0,B6,None,NaN,NaN
20,21,[09:00:10-541573],10792.0,NaN,10793.0,643.0,10792.0,182.0,NaN,9729.0,10050.0,B6,None,NaN,NaN
21,22,[09:00:10-962692],10792.0,26.0,10793.0,643.0,10792.0,156.0,1.0,9729.0,10024.0,G7,None,NaN,NaN
22,23,[09:00:11-780415],10792.0,NaN,10793.0,643.0,10792.0,256.0,NaN,9729.0,10124.0,B6,None,NaN,NaN
23,24,[09:00:12-502337],10792.0,NaN,10793.0,643.0,10792.0,356.0,NaN,9729.0,10224.0,B6,None,NaN,NaN
24,25,[09:00:13-006459],10792.0,NaN,10793.0,643.0,10792.0,386.0,NaN,9729.0,10254.0,B6,None,NaN,NaN
25,26,[09:00:15-112682],10792.0,NaN,10793.0,643.0,10792.0,387.0,NaN,9729.0,10255.0,B6,None,NaN,NaN
26,27,[09:00:16-158032],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9729.0,10355.0,B6,None,NaN,NaN
27,28,[09:00:16-291225],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9731.0,10355.0,B6,None,NaN,NaN
28,29,[09:00:17-314086],10792.0,25.0,10793.0,643.0,10792.0,462.0,1.0,9731.0,10330.0,G7,None,NaN,NaN
29,30,[09:00:17-351093],10792.0,NaN,10793.0,643.0,10792.0,463.0,NaN,9731.0,10331.0,B6,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15944,15945,[15:34:36-667544],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11272.0,B6,None,NaN,NaN
15945,15946,[15:34:41-403608],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11302.0,B6,None,NaN,NaN
15946,15947,[15:34:43-171697],10786.0,5.0,10786.0,411.0,10785.0,2234.0,2.0,16196.0,11302.0,G7,None,NaN,NaN
15947,15948,[15:34:44-107478],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16196.0,11302.0,B6,None,NaN,NaN
15948,15949,[15:34:44-870469],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16198.0,11302.0,B6,None,NaN,NaN
15949,15950,[15:34:45-022415],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16200.0,11302.0,B6,None,NaN,NaN
15950,15951,[15:34:45-159782],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16202.0,11302.0,B6,None,NaN,NaN
15951,15952,[15:34:45-292436],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16204.0,11302.0,B6,None,NaN,NaN
15952,15953,[15:34:45-427983],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16206.0,11302.0,B6,None,NaN,NaN
15953,15954,[15:34:45-537448],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16208.0,11302.0,B6,None,NaN,NaN
15954,15955,[15:34:45-670024],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16210.0,11302.0,B6,None,NaN,NaN
15955,15956,[15:34:45-790025],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16212.0,11302.0,B6,None,NaN,NaN
15956,15957,[15:34:45-913894],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16214.0,11302.0,B6,None,NaN,NaN
15957,15958,[15:34:46-049717],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16216.0,11302.0,B6,None,NaN,NaN
15958,15959,[15:34:46-182368],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16218.0,11302.0,B6,None,NaN,NaN
15959,15960,[15:34:46-313007],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16220.0,11302.0,B6,None,NaN,NaN
15960,15961,[15:34:46-448964],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16222.0,11302.0,B6,None,NaN,NaN
15961,15962,[15:34:46-583753],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16224.0,11302.0,B6,None,NaN,NaN
15962,15963,[15:34:46-708391],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11302.0,B6,None,NaN,NaN
15963,15964,[15:34:49-270970],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11303.0,B6,None,NaN,NaN
15964,15965,[15:34:51-271212],10786.0,NaN,10786.0,452.0,10785.0,2234.0,NaN,16227.0,11303.0,B6,None,NaN,NaN
15965,15966,[15:34:54-229852],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10803.0,B6,None,NaN,NaN
15966,15967,[15:34:55-541549],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10303.0,B6,None,NaN,NaN
15967,15968,[15:34:57-791134],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16247.0,10303.0,B6,None,NaN,NaN
15968,15969,[15:34:57-941698],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,None,NaN,NaN
15969,15970,[15:34:57-972879],10786.0,20.0,10786.0,432.0,10785.0,1734.0,2.0,16247.0,10303.0,G7,None,NaN,NaN
15970,15971,[15:34:58-068353],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,None,NaN,NaN
15971,15972,[15:34:58-183682],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16287.0,10303.0,B6,None,NaN,NaN
15972,15973,[15:34:58-296478],10786.0,NaN,10786.0,432.0,10785.0,1784.0,NaN,16287.0,10353.0,B6,None,NaN,NaN
15973,15974,[15:34:58-334457],10786.0,NaN,10786.0,482.0,10785.0,1784.0,NaN,16337.0,10353.0,B6,None,NaN,NaN

In [45]:
df

,index,시간,현재가,체결수량,매도1호가,매도1잔량,매수1호가,매수1잔량,최종매도매수,총잔량매도,총잔량매수,코드,투자자유형,투자자매도,투자자매수
0,49,[09:00:37-024277],10792.0,None,10793.0,643.0,10792.0,396.0,None,10331.0,10265.0,H1,1000,122.0,610.0
1,90,[09:01:04-112087],10792.0,None,10792.0,439.0,10791.0,1177.0,None,10897.0,9869.0,H1,1000,460.0,1335.0
2,181,[09:01:34-088770],10791.0,None,10791.0,714.0,10790.0,820.0,None,12940.0,8298.0,H1,1000,560.0,1565.0
3,224,[09:02:04-107954],10790.0,None,10791.0,1301.0,10790.0,302.0,None,13901.0,8280.0,H1,1000,560.0,1672.0
4,281,[09:02:33-770759],10790.0,None,10791.0,1405.0,10790.0,1070.0,None,14050.0,9245.0,H1,1000,940.0,2030.0
5,297,[09:03:04-063230],10790.0,None,10791.0,1480.0,10790.0,1059.0,None,14155.0,9265.0,H1,1000,940.0,2040.0
6,314,[09:03:34-112747],10790.0,None,10791.0,1475.0,10790.0,1152.0,None,14149.0,9408.0,H1,1000,940.0,2045.0
7,371,[09:04:04-265270],10790.0,None,10790.0,122.0,10789.0,1078.0,None,14398.0,8378.0,H1,1000,1865.0,2242.0
8,438,[09:04:34-044225],10789.0,None,10790.0,354.0,10789.0,1178.0,None,14477.0,9478.0,H1,1000,2169.0,2477.0
9,456,[09:05:04-020044],10789.0,None,10790.0,407.0,10789.0,1178.0,None,14533.0,9729.0,H1,1000,2169.0,2477.0
10,479,[09:05:34-167323],10789.0,None,10790.0,410.0,10789.0,1073.0,None,14588.0,10807.0,H1,1000,2169.0,2477.0
11,506,[09:06:04-267467],10789.0,None,10790.0,408.0,10789.0,1068.0,None,13346.0,11102.0,H1,1000,2169.0,2477.0
12,637,[09:06:34-296864],10788.0,None,10789.0,1564.0,10788.0,1122.0,None,15245.0,9128.0,H1,1000,2179.0,2852.0
13,790,[09:07:04-468012],10789.0,None,10790.0,1371.0,10789.0,371.0,None,13163.0,10988.0,H1,1000,2849.0,3062.0
14,817,[09:07:34-191034],10789.0,None,10790.0,1376.0,10789.0,511.0,None,13699.0,11151.0,H1,1000,2849.0,3062.0
15,865,[09:08:04-298526],10790.0,None,10791.0,1238.0,10790.0,295.0,None,12427.0,11615.0,H1,1000,3179.0,3432.0
16,891,[09:08:33-979984],10790.0,None,10791.0,1238.0,10790.0,269.0,None,12427.0,11746.0,H1,1000,3309.0,3444.0
17,911,[09:09:05-035277],10790.0,None,10791.0,1244.0,10790.0,237.0,None,12536.0,11714.0,H1,1000,3324.0,3478.0
18,956,[09:09:37-700377],10790.0,None,10790.0,146.0,10789.0,712.0,None,12680.0,11475.0,H1,1000,3326.0,3480.0
19,981,[09:10:04-400492],10790.0,None,10790.0,399.0,10789.0,742.0,None,12936.0,11506.0,H1,1000,3376.0,3582.0
20,1010,[09:10:33-724791],10789.0,None,10790.0,694.0,10789.0,676.0,None,13254.0,12998.0,H1,1000,3376.0,3582.0
21,1027,[09:11:04-472198],10789.0,None,10790.0,702.0,10789.0,676.0,None,13262.0,13098.0,H1,1000,3376.0,3582.0
22,1041,[09:11:34-383630],10789.0,None,10790.0,804.0,10789.0,676.0,None,13264.0,13098.0,H1,1000,3376.0,3582.0
23,1059,[09:12:04-257326],10789.0,None,10790.0,729.0,10789.0,666.0,None,13189.0,13288.0,H1,1000,3386.0,3582.0
24,1083,[09:12:34-061003],10790.0,None,10790.0,618.0,10789.0,1966.0,None,13109.0,13988.0,H1,1000,3386.0,3582.0
25,1096,[09:13:04-022418],10789.0,None,10790.0,613.0,10789.0,1961.0,None,13104.0,13983.0,H1,1000,3386.0,3582.0
26,1108,[09:13:34-124772],10789.0,None,10790.0,613.0,10789.0,1971.0,None,13104.0,13993.0,H1,1000,3386.0,3582.0
27,1124,[09:14:03-862648],10789.0,None,10790.0,618.0,10789.0,1971.0,None,13609.0,13493.0,H1,1000,3386.0,3582.0
28,1141,[09:14:33-978136],10789.0,None,10790.0,620.0,10789.0,1971.0,None,13619.0,13493.0,H1,1000,3386.0,3582.0
29,1153,[09:15:04-099872],10789.0,None,10790.0,620.0,10789.0,1971.0,None,13619.0,13493.0,H1,1000,3386.0,3582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,15288,[15:20:04-209023],10786.0,None,10787.0,975.0,10786.0,483.0,None,15932.0,14237.0,H1,1000,22623.0,25668.0
760,15304,[15:20:34-461238],10786.0,None,10787.0,975.0,10786.0,592.0,None,15882.0,14366.0,H1,1000,22623.0,25668.0
761,15317,[15:21:04-669687],10786.0,None,10787.0,975.0,10786.0,592.0,None,15842.0,14367.0,H1,1000,22623.0,25668.0
762,15328,[15:21:34-823427],10786.0,None,10787.0,975.0,10786.0,592.0,None,15842.0,14367.0,H1,1000,22623.0,25668.0
763,15343,[15:22:04-464363],10786.0,None,10787.0,974.0,10786.0,588.0,None,15841.0,14361.0,H1,1000,22623.0,25668.0
764,15362,[15:22:34-371812],10786.0,None,10787.0,669.0,10786.0,768.0,None,15536.0,14541.0,H1,1000,22623.0,25668.0
765,15380,[15:23:03-938955],10786.0,None,10787.0,684.0,10786.0,798.0,None,15551.0,14551.0,H1,1000,22623.0,25668.0
766,15396,[15:23:33-817748],10786.0,None,10787.0,814.0,10786.0,798.0,None,15701.0,14551.0,H1,1000,22623.0,25668.0
767,15410,[15:24:04-239210],10786.0,None,10787.0,815.0,10786.0,1098.0,None,15702.0,15001.0,H1,1000,22623.0,25668.0
768,15428,[15:24:34-280053],10786.0,None,10787.0,815.0,10786.0,946.0,None,15702.0,14599.0,H1,1000,22623.0,25668.0
769,15446,[15:25:03-712760],10786.0,None,10787.0,815.0,10786.0,946.0,None,15355.0,14599.0,H1,1000,22623.0,25668.0
770,15459,[15:25:33-954498],10786.0,None,10787.0,815.0,10786.0,926.0,None,15360.0,14579.0,H1,1000,22623.0,25668.0
771,15480,[15:26:03-694813],10786.0,None,10787.0,500.0,10786.0,924.0,None,15045.0,14567.0,H1,1000,22963.0,25670.0
772,15494,[15:26:33-720113],10786.0,None,10787.0,600.0,10786.0,1124.0,None,15095.0,14767.0,H1,1000,22963.0,25670.0
773,15507,[15:27:03-838047],10786.0,None,10787.0,600.0,10786.0,1124.0,None,15211.0,14767.0,H1,1000,22963.0,25670.0
774,15562,[15:27:33-989413],10787.0,None,10788.0,772.0,10787.0,548.0,None,13668.0,14805.0,H1,1000,23321.0,26021.0
775,15589,[15:28:04-020960],10788.0,None,10788.0,727.0,10787.0,672.0,None,13623.0,14949.0,H1,1000,23352.0,26052.0
776,15610,[15:28:33-992571],10788.0,None,10788.0,788.0,10787.0,625.0,None,13684.0,15014.0,H1,1000,23402.0,26102.0
777,15627,[15:29:03-948163],10788.0,None,10788.0,689.0,10787.0,645.0,None,13685.0,14914.0,H1,1000,23402.0,26102.0
778,15648,[15:29:34-189689],10787.0,None,10788.0,850.0,10787.0,524.0,None,13947.0,14793.0,H1,1000,23412.0,26112.0
779,15676,[15:30:05-075214],10787.0,None,10788.0,1036.0,10787.0,333.0,None,14033.0,14673.0,H1,1000,23434.0,26135.0
780,15706,[15:30:35-758015],10787.0,None,10787.0,414.0,10786.0,819.0,None,14307.0,14285.0,H1,1000,23897.0,26217.0
781,15731,[15:31:05-350765],10787.0,None,10787.0,311.0,10786.0,727.0,None,14205.0,14751.0,H1,1000,23997.0,26317.0
782,15743,[15:31:34-526051],10787.0,None,10787.0,311.0,10786.0,727.0,None,14195.0,14751.0,H1,1000,23997.0,26317.0
783,15760,[15:32:04-316678],10786.0,None,10787.0,310.0,10786.0,796.0,None,14194.0,14720.0,H1,1000,23997.0,26318.0
784,15777,[15:32:34-429953],10786.0,None,10787.0,276.0,10786.0,776.0,None,14155.0,15200.0,H1,1000,23997.0,26338.0
785,15802,[15:33:04-233939],10786.0,None,10787.0,465.0,10786.0,918.0,None,14235.0,15242.0,H1,1000,23997.0,26341.0
786,15840,[15:33:33-967495],10786.0,None,10786.0,237.0,10785.0,2242.0,None,14524.0,14324.0,H1,1000,24197.0,26499.0
787,15903,[15:34:03-855491],10786.0,None,10786.0,173.0,10785.0,2242.0,None,15663.0,12278.0,H1,1000,24759.0,27056.0
788,15933,[15:34:34-036143],10785.0,None,10786.0,411.0,10785.0,2239.0,None,16196.0,11277.0,H1,1000,24788.0,27085.0

In [4]:
df = pd.read_sql(QUERY, db)

In [5]:
%%time
h1 = df.copy()
h1 = h1[['시간', '투자자매수', '투자자매도']][h1['투자자유형'] == '1000']
h1['투자자변화량차이'] = h1['투자자매수'].diff() - h1['투자자매도'].diff()
h1['H1_Flag'] = np.nan
h1['H1_Flag'][h1['투자자변화량차이'] > 0] = 1
h1['H1_Flag'][h1['투자자변화량차이'] < 0] = -1
h1['H1_Flag'][h1['투자자변화량차이'] == 0] =0

Wall time: 154 ms

In [6]:
%%time
others = df[['시간', '현재가', '체결수량', '매수1잔량', '매도1잔량', '최종매도매수']][df['투자자유형'] != '1000'].copy()
others['매수1호가수량-매도1호가수량'] = others['매수1잔량'] - others['매도1잔량']
others['Rest_Flag'] = np.nan
others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] > 0] = 1
others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] == 0] = 0
others["Rest_Flag"][others['매수1호가수량-매도1호가수량'] < 0] = -1

Wall time: 12 ms

In [7]:
total = pd.concat([others, h1])
total.sort_index(inplace=True)

In [8]:
%%time
total['H1_Flag'].fillna(method='ffill', inplace=True)
total['Rest_Flag'].fillna(method='ffill', inplace=True)

Wall time: 1.03 ms

In [9]:
total.loc[:,'long_signal'] = np.nan; total.loc[:, 'long_close_signal'] = np.nan

renew_index_long = 0
holding_position = 0
Daily_profitandloss = 0

order_count = 0

long_count = 0
long_close_count = 0
long_close_at_34 = 0

short_count = 0
short_close_count = 0
short_close_at_34 = 0

In [20]:
df

,index,시간,현재가,체결수량,매도1호가,매도1잔량,매수1호가,매수1잔량,최종매도매수,총잔량매도,총잔량매수,코드,투자자유형,투자자매도,투자자매수
0,1,[09:00:01-175006],NaN,NaN,10792.0,482.0,10791.0,953.0,NaN,10709.0,9394.0,B6,None,NaN,NaN
1,2,[09:00:01-323536],10792.0,41.0,10792.0,441.0,10791.0,953.0,2.0,10668.0,9394.0,G7,None,NaN,NaN
2,3,[09:00:01-343318],10791.0,26.0,10792.0,441.0,10791.0,927.0,1.0,10668.0,9368.0,G7,None,NaN,NaN
3,4,[09:00:02-434431],10791.0,NaN,10792.0,444.0,10791.0,927.0,NaN,10671.0,9368.0,B6,None,NaN,NaN
4,5,[09:00:03-439598],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10672.0,9368.0,B6,None,NaN,NaN
5,6,[09:00:03-603125],10791.0,NaN,10792.0,445.0,10791.0,927.0,NaN,10673.0,9368.0,B6,None,NaN,NaN
6,7,[09:00:03-761902],10791.0,NaN,10792.0,445.0,10791.0,1177.0,NaN,10673.0,9618.0,B6,None,NaN,NaN
7,8,[09:00:03-763455],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9618.0,B6,None,NaN,NaN
8,9,[09:00:03-782178],10791.0,NaN,10792.0,442.0,10791.0,1177.0,NaN,10670.0,9868.0,B6,None,NaN,NaN
9,10,[09:00:03-860899],10791.0,NaN,10792.0,443.0,10791.0,1177.0,NaN,10671.0,9868.0,B6,None,NaN,NaN
10,11,[09:00:03-904282],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10672.0,9868.0,B6,None,NaN,NaN
11,12,[09:00:04-932968],10791.0,NaN,10792.0,444.0,10791.0,1177.0,NaN,10172.0,9868.0,B6,None,NaN,NaN
12,13,[09:00:07-542580],10792.0,50.0,10792.0,394.0,10791.0,1177.0,2.0,10122.0,9868.0,G7,None,NaN,NaN
13,14,[09:00:08-229408],10792.0,NaN,10792.0,424.0,10791.0,1177.0,NaN,10152.0,9868.0,B6,None,NaN,NaN
14,15,[09:00:08-415325],10792.0,100.0,10792.0,324.0,10791.0,1177.0,2.0,10052.0,9868.0,G7,None,NaN,NaN
15,16,[09:00:08-417922],10792.0,100.0,10792.0,224.0,10791.0,1177.0,2.0,9952.0,9868.0,G7,None,NaN,NaN
16,17,[09:00:08-762789],10792.0,224.0,10793.0,642.0,10792.0,76.0,2.0,9728.0,9944.0,G7,None,NaN,NaN
17,18,[09:00:08-774407],10792.0,NaN,10793.0,642.0,10792.0,176.0,NaN,9728.0,10044.0,B6,None,NaN,NaN
18,19,[09:00:09-155400],10792.0,NaN,10793.0,643.0,10792.0,176.0,NaN,9729.0,10044.0,B6,None,NaN,NaN
19,20,[09:00:09-308922],10792.0,NaN,10793.0,643.0,10792.0,177.0,NaN,9729.0,10045.0,B6,None,NaN,NaN
20,21,[09:00:10-541573],10792.0,NaN,10793.0,643.0,10792.0,182.0,NaN,9729.0,10050.0,B6,None,NaN,NaN
21,22,[09:00:10-962692],10792.0,26.0,10793.0,643.0,10792.0,156.0,1.0,9729.0,10024.0,G7,None,NaN,NaN
22,23,[09:00:11-780415],10792.0,NaN,10793.0,643.0,10792.0,256.0,NaN,9729.0,10124.0,B6,None,NaN,NaN
23,24,[09:00:12-502337],10792.0,NaN,10793.0,643.0,10792.0,356.0,NaN,9729.0,10224.0,B6,None,NaN,NaN
24,25,[09:00:13-006459],10792.0,NaN,10793.0,643.0,10792.0,386.0,NaN,9729.0,10254.0,B6,None,NaN,NaN
25,26,[09:00:15-112682],10792.0,NaN,10793.0,643.0,10792.0,387.0,NaN,9729.0,10255.0,B6,None,NaN,NaN
26,27,[09:00:16-158032],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9729.0,10355.0,B6,None,NaN,NaN
27,28,[09:00:16-291225],10792.0,NaN,10793.0,643.0,10792.0,487.0,NaN,9731.0,10355.0,B6,None,NaN,NaN
28,29,[09:00:17-314086],10792.0,25.0,10793.0,643.0,10792.0,462.0,1.0,9731.0,10330.0,G7,None,NaN,NaN
29,30,[09:00:17-351093],10792.0,NaN,10793.0,643.0,10792.0,463.0,NaN,9731.0,10331.0,B6,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15944,15945,[15:34:36-667544],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11272.0,B6,None,NaN,NaN
15945,15946,[15:34:41-403608],10785.0,NaN,10786.0,416.0,10785.0,2234.0,NaN,16201.0,11302.0,B6,None,NaN,NaN
15946,15947,[15:34:43-171697],10786.0,5.0,10786.0,411.0,10785.0,2234.0,2.0,16196.0,11302.0,G7,None,NaN,NaN
15947,15948,[15:34:44-107478],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16196.0,11302.0,B6,None,NaN,NaN
15948,15949,[15:34:44-870469],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16198.0,11302.0,B6,None,NaN,NaN
15949,15950,[15:34:45-022415],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16200.0,11302.0,B6,None,NaN,NaN
15950,15951,[15:34:45-159782],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16202.0,11302.0,B6,None,NaN,NaN
15951,15952,[15:34:45-292436],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16204.0,11302.0,B6,None,NaN,NaN
15952,15953,[15:34:45-427983],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16206.0,11302.0,B6,None,NaN,NaN
15953,15954,[15:34:45-537448],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16208.0,11302.0,B6,None,NaN,NaN
15954,15955,[15:34:45-670024],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16210.0,11302.0,B6,None,NaN,NaN
15955,15956,[15:34:45-790025],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16212.0,11302.0,B6,None,NaN,NaN
15956,15957,[15:34:45-913894],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16214.0,11302.0,B6,None,NaN,NaN
15957,15958,[15:34:46-049717],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16216.0,11302.0,B6,None,NaN,NaN
15958,15959,[15:34:46-182368],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16218.0,11302.0,B6,None,NaN,NaN
15959,15960,[15:34:46-313007],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16220.0,11302.0,B6,None,NaN,NaN
15960,15961,[15:34:46-448964],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16222.0,11302.0,B6,None,NaN,NaN
15961,15962,[15:34:46-583753],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16224.0,11302.0,B6,None,NaN,NaN
15962,15963,[15:34:46-708391],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11302.0,B6,None,NaN,NaN
15963,15964,[15:34:49-270970],10786.0,NaN,10786.0,451.0,10785.0,2234.0,NaN,16226.0,11303.0,B6,None,NaN,NaN
15964,15965,[15:34:51-271212],10786.0,NaN,10786.0,452.0,10785.0,2234.0,NaN,16227.0,11303.0,B6,None,NaN,NaN
15965,15966,[15:34:54-229852],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10803.0,B6,None,NaN,NaN
15966,15967,[15:34:55-541549],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16227.0,10303.0,B6,None,NaN,NaN
15967,15968,[15:34:57-791134],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16247.0,10303.0,B6,None,NaN,NaN
15968,15969,[15:34:57-941698],10786.0,NaN,10786.0,452.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,None,NaN,NaN
15969,15970,[15:34:57-972879],10786.0,20.0,10786.0,432.0,10785.0,1734.0,2.0,16247.0,10303.0,G7,None,NaN,NaN
15970,15971,[15:34:58-068353],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16267.0,10303.0,B6,None,NaN,NaN
15971,15972,[15:34:58-183682],10786.0,NaN,10786.0,432.0,10785.0,1734.0,NaN,16287.0,10303.0,B6,None,NaN,NaN
15972,15973,[15:34:58-296478],10786.0,NaN,10786.0,432.0,10785.0,1784.0,NaN,16287.0,10353.0,B6,None,NaN,NaN
15973,15974,[15:34:58-334457],10786.0,NaN,10786.0,482.0,10785.0,1784.0,NaN,16337.0,10353.0,B6,None,NaN,NaN

In [12]:
while True:
    for index, row in total.loc[renew_index_long:].iterrows():


    ######################################## Holding_Position == 0 ################################################

        if holding_position == 0:


            ################################### 'Buy SIgnal Start' ##################################################


            if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                renew_index_long = index
                # print('Long Signal Found')
                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                for index, row in total.loc[renew_index_long:].iterrows():

                    if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                        renew_index_long = index

                        holding_position += 1
                        order_count += 1
                        long_count += 1

                        price_Long = total.loc[index,'현재가']

                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Long 가격:', price_Long)
                        # print('Current Holding Position', holding_position)

                        for index, row in total.loc[renew_index_long:].iterrows():

                            if row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                renew_index_long = index
                                # print('Long Closing Signal Found')
                                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                for index, row in total.loc[renew_index_long:].iterrows():

                                    if row['H1_Flag'] == 1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                        renew_index_long = index

                                        holding_position -= 1

                                        order_count += 1
                                        long_close_count += 1

                                        price_Closing_Long = total.loc[index,'현재가']

                                        Long_p_and_l = price_Closing_Long - price_Long

                                        Daily_profitandloss += Long_p_and_l

                                        # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                        #       'Closing_Long_가격:',price_Closing_Long, 'Long Profit:', Long_p_and_l)
                                        # print('Current Holding Position', holding_position)
                                        # print('Long Closing Signal Finding is All Done')
                                        # print('########################################')
                                        break
                                break

                            elif (total.loc[renew_index_long, '시간'][1:3] == '15') and (total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                holding_position -= 1
                                order_count += 1
                                long_close_count += 1
                                long_close_at_34 += 1
                                price_Closing_Long_at_34 = total.loc[index, '현재가']
                                Long_p_and_l = price_Closing_Long_at_34 - price_Long
                                Daily_profitandloss += Long_p_and_l

                                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                #           'Closing_Long_at_34_가격:', price_Closing_Long_at_34, '34_Long Profit:', Long_p_and_l)
                                # print('Current Holding Position', holding_position)

                                break

                        break
                break

            ################################### 'Short SIgnal Start' ##################################################

            elif row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                renew_index_long = index
                # print('Short Signal Found')
                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                for index, row in total.loc[renew_index_long:].iterrows():

                    if row['H1_Flag'] == 1 and row['Rest_Flag'] and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34') == 1:

                        renew_index_long = index
                        holding_position += 1
                        order_count += 1
                        short_count += 1

                        price_Short = total.loc[index,'현재가']

                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Short 가격:', price_Short)
                        # print('Current Holding Position', holding_position)

                        for index, row in total.loc[renew_index_long:].iterrows():

                            if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                renew_index_long = index
                                # print('Short Closing Signal Found')
                                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                for index, row in total.loc[renew_index_long:].iterrows():

                                    if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                        renew_index_long = index

                                        holding_position -= 1

                                        order_count += 1
                                        short_close_count += 1

                                        price_Closing_Short = total.loc[index,'현재가']

                                        Short_p_and_l = price_Short - price_Closing_Short

                                        Daily_profitandloss += Short_p_and_l

                                        # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                        #       'Closing_Short_가격:',price_Closing_Short, 'Short Profit:', Short_p_and_l)
                                        # print('Current Holding Position', holding_position)
                                        # print('Short Closing Signal Finding is All Done')
                                        # print('########################################')

                                        break
                                break

                            elif (total.loc[renew_index_long, '시간'][1:3] == '15') and (total.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                    holding_position -= 1
                                    order_count += 1
                                    short_close_count += 1
                                    short_close_at_34 += 1

                                    price_Closing_Short_at_34 = total.loc[index, '현재가']
                                    Short_p_and_l = price_Short - price_Closing_Short_at_34
                                    Daily_profitandloss += Short_p_and_l

                                    # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                    #       'Closing_Short_at_34_가격:', price_Closing_Short_at_34, '34_Short Profit:', Short_p_and_l)
                                    # print('Current Holding Position', holding_position)

                                    break

                        break
                break


    if index == len(total.loc[:]):
        break
result_file = open(out_path + '\\profit_loss_KR4165N30007_김종재.csv', 'a', encoding='ISO-8859-1')
result_file.write('{0},{1},{2},{3},{4},{5},{6},{7},{8}\n'.format(date, Daily_profitandloss, order_count,
                  short_count, short_close_count, long_count, long_close_count,
                 long_close_at_34, short_close_at_34))
result_file.close()

KeyboardInterrupt:

In [ ]:
        cols = ['시간', '현재가', '체결량', '매도or매수', '매수1호가수량', '매도1호가수량',
               '매수1호가수량-매도1호가수량', 'Rest_Flag', '투자자매수량', '투자자매도량',
               '투자자매수량변화', '투자자매도량변화', '투자자변화량차이', 'H1_Flag']

        df_test = df2[cols]

#         df_test['현재가'].fillna(method='ffill', inplace=True)
        df_test['H1_Flag'].fillna(method='ffill', inplace=True)
        df_test['Rest_Flag'].fillna(method='ffill', inplace=True)

        a = df_test[['시간', '현재가', '매수1호가수량', '매도1호가수량', 'H1_Flag', 'Rest_Flag']]

        a['H1_Flag'][a['H1_Flag'] == 0] = np.nan
        a['Rest_Flag'][a['Rest_Flag'] == 0] = np.nan

        a['H1_Flag'].fillna(method='ffill', inplace=True)
        a['Rest_Flag'].fillna(method='ffill', inplace=True)

        a.loc[:,'long_signal'] = np.nan
        a.loc[:,'long_close_signal'] = np.nan

        renew_index_long = 0
        holding_position = 0
        Daily_profitandloss = 0

        order_count = 0

        long_count = 0
        long_close_count = 0
        long_close_at_34 = 0

        short_count = 0
        short_close_count = 0
        short_close_at_34 = 0


        while True:
            for index, row in a.loc[renew_index_long:].iterrows():


            ######################################## Holding_Position == 0 ################################################

                if holding_position == 0:


                    ################################### 'Buy SIgnal Start' ##################################################


                    if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                        renew_index_long = index
                        # print('Long Signal Found')
                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                        for index, row in a.loc[renew_index_long:].iterrows():

                            if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                renew_index_long = index

                                holding_position += 1
                                order_count += 1
                                long_count += 1

                                price_Long = a.loc[index,'현재가']

                                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Long 가격:', price_Long)
                                # print('Current Holding Position', holding_position)

                                for index, row in a.loc[renew_index_long:].iterrows():

                                    if row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                        renew_index_long = index
                                        # print('Long Closing Signal Found')
                                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                        for index, row in a.loc[renew_index_long:].iterrows():

                                            if row['H1_Flag'] == 1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                                renew_index_long = index

                                                holding_position -= 1

                                                order_count += 1
                                                long_close_count += 1

                                                price_Closing_Long = a.loc[index,'현재가']

                                                Long_p_and_l = price_Closing_Long - price_Long

                                                Daily_profitandloss += Long_p_and_l

                                                # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                                #       'Closing_Long_가격:',price_Closing_Long, 'Long Profit:', Long_p_and_l)
                                                # print('Current Holding Position', holding_position)
                                                # print('Long Closing Signal Finding is All Done')
                                                # print('########################################')
                                                break
                                        break

                                    elif (a.loc[renew_index_long, '시간'][1:3] == '15') and (a.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                        holding_position -= 1
                                        order_count += 1
                                        long_close_count += 1
                                        long_close_at_34 += 1
                                        price_Closing_Long_at_34 = a.loc[index, '현재가']
                                        Long_p_and_l = price_Closing_Long_at_34 - price_Long
                                        Daily_profitandloss += Long_p_and_l

                                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                        #           'Closing_Long_at_34_가격:', price_Closing_Long_at_34, '34_Long Profit:', Long_p_and_l)
                                        # print('Current Holding Position', holding_position)

                                        break

                                break
                        break

                    ################################### 'Short SIgnal Start' ##################################################

                    elif row['H1_Flag'] == 1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                        renew_index_long = index
                        # print('Short Signal Found')
                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                        for index, row in a.loc[renew_index_long:].iterrows():

                            if row['H1_Flag'] == 1 and row['Rest_Flag'] and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34') == 1:

                                renew_index_long = index
                                holding_position += 1
                                order_count += 1
                                short_count += 1

                                price_Short = a.loc[index,'현재가']

                                # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index, 'Short 가격:', price_Short)
                                # print('Current Holding Position', holding_position)

                                for index, row in a.loc[renew_index_long:].iterrows():

                                    if row['H1_Flag'] == -1 and row['Rest_Flag'] == 1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                        renew_index_long = index
                                        # print('Short Closing Signal Found')
                                        # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index)

                                        for index, row in a.loc[renew_index_long:].iterrows():

                                            if row['H1_Flag'] == -1 and row['Rest_Flag'] == -1 and (row['시간'][1:3] <= '15' and row['시간'][4:6] < '34'):
                                                renew_index_long = index

                                                holding_position -= 1

                                                order_count += 1
                                                short_close_count += 1

                                                price_Closing_Short = a.loc[index,'현재가']

                                                Short_p_and_l = price_Short - price_Closing_Short

                                                Daily_profitandloss += Short_p_and_l

                                                # print(row['H1_Flag'] , row['Rest_Flag'], 'InDex:', index,
                                                #       'Closing_Short_가격:',price_Closing_Short, 'Short Profit:', Short_p_and_l)
                                                # print('Current Holding Position', holding_position)
                                                # print('Short Closing Signal Finding is All Done')
                                                # print('########################################')

                                                break
                                        break

                                    elif (a.loc[renew_index_long, '시간'][1:3] == '15') and (a.loc[renew_index_long, '시간'][4:6] == '34') and holding_position != 0:
                                            holding_position -= 1
                                            order_count += 1
                                            short_close_count += 1
                                            short_close_at_34 += 1

                                            price_Closing_Short_at_34 = a.loc[index, '현재가']
                                            Short_p_and_l = price_Short - price_Closing_Short_at_34
                                            Daily_profitandloss += Short_p_and_l

                                            # print(row['H1_Flag'], row['Rest_Flag'], 'InDex:', index,
                                            #       'Closing_Short_at_34_가격:', price_Closing_Short_at_34, '34_Short Profit:', Short_p_and_l)
                                            # print('Current Holding Position', holding_position)

                                            break

                                break
                        break


            if index == len(a.loc[:]):
                break
        result_file = open(out_path + '\\profit_loss_KR4165N30007_김종재.csv', 'a', encoding='ISO-8859-1')
        result_file.write('{0},{1},{2},{3},{4},{5},{6},{7},{8}\n'.format(date, Daily_profitandloss, order_count,
                          short_count, short_close_count, long_count, long_close_count,
                         long_close_at_34, short_close_at_34))
        result_file.close()