In [1]:
path = ('C://Users//Jongjae//Project/home_credit_project/')

trainset = pd.read_csv(path + 'application_trainset.csv')
pre_app_train = pd.read_csv(path + 'previous_application_train.csv')
pos_cash_train = pd.read_csv(path + 'POS_CASH_balance_train.csv')
install_train = pd.read_csv(path + 'installments_payments_train.csv')
credit_card_train = pd.read_csv(path + 'credit_card_balance_train.csv')
bureau_train = pd.read_csv(path + 'bureau_train.csv')
bureau_balance_train = pd.read_csv(path + 'bureau_balance_train.csv')

In [ ]:
# del trainset['Unnamed: 0']
# del bureau_train['Unnamed: 0']
# del bureau_train['Unnamed: 0.1']
# del bureau_balance_train['Unnamed: 0']
# del bureau_balance_train['Unnamed: 0.1']
# del credit_card_train['Unnamed: 0']
# del install_train['Unnamed: 0']
# del pre_app_train['Unnamed: 0']
# del pre_app_train['Unnamed: 0.1']
# del pos_cash_train['Unnamed: 0']

In [25]:
# trainset.to_csv('application_trainset.csv')

In [33]:
# pre_app_train.to_csv('previous_application_train.csv')
# pos_cash_train.to_csv('POS_CASH_balance_train.csv')
# install_train.to_csv('installments_payments_train.csv')
# credit_card_train.to_csv('credit_card_balance_train.csv')
# bureau_train.to_csv('bureau_train.csv')
# bureau_balance_train.to_csv('bureau_balance_train.csv')

# Merge into one DataFrame (Train)

## 1) bureau_train + bureau_balance_train

In [15]:
bureau_train.head()

,Unnamed: 0,Unnamed: 0.1,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,0,14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.0,0.0,0.0,Credit card,-185,NaN
1,1,15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.0,NaN,NaN,0.0,Consumer credit,-2601,NaN
2,2,16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.0,NaN,NaN,0.0,Consumer credit,-984,NaN
3,3,17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.0,520920.0,NaN,0.0,Consumer credit,-4,NaN
4,4,18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.5,NaN,0.0,Credit card,-7,NaN

In [16]:
bureau_balance_train.head()

   Unnamed: 0  Unnamed: 0.1  SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0           0             0       5715451              -5      C    380361.0
1           1             1       5715451              -6      C    380361.0
2           2             2       5715451              -7      C    380361.0
3           3             3       5715451              -8      C    380361.0
4           4             4       5715451              -9      C    380361.0

In [17]:
print('bureau_train_shape: ', bureau_train.shape)
print('bureau_balance_train_shape: ', bureau_balance_train.shape)

bureau_train_shape:  (1680412, 19)
bureau_balance_train_shape:  (10335059, 6)

In [18]:
merged_bureau = pd.merge(bureau_train, bureau_balance_train, how='inner', on='SK_ID_BUREAU')

In [35]:
bureau_balance_train.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0       5715451              -5      C    380361.0
1       5715451              -6      C    380361.0
2       5715451              -7      C    380361.0
3       5715451              -8      C    380361.0
4       5715451              -9      C    380361.0