In [44]:
path = ('C://Users//Jongjae//Project/home_credit/')

trainset = pd.read_csv(path + 'application_trainset.csv')
pre_app_train = pd.read_csv(path + 'previous_application_train.csv')
pos_cash_train = pd.read_csv(path + 'POS_CASH_balance_train.csv')
install_train = pd.read_csv(path + 'installments_payments_train.csv')
credit_card_train = pd.read_csv(path + 'credit_card_balance_train.csv')
bureau_train = pd.read_csv(path + 'bureau_train.csv')
bureau_balance_train = pd.read_csv(path + 'bureau_balance_train.csv')

In [45]:
del trainset['Unnamed: 0']
del bureau_train['Unnamed: 0']
# del bureau_train['Unnamed: 0.1']
del bureau_balance_train['Unnamed: 0']
# del bureau_balance_train['Unnamed: 0.1']
del credit_card_train['Unnamed: 0']
del install_train['Unnamed: 0']
del pre_app_train['Unnamed: 0']
# del pre_app_train['Unnamed: 0.1']
del pos_cash_train['Unnamed: 0']

In [25]:
# trainset.to_csv('application_trainset.csv')

In [33]:
# pre_app_train.to_csv('previous_application_train.csv')
# pos_cash_train.to_csv('POS_CASH_balance_train.csv')
# install_train.to_csv('installments_payments_train.csv')
# credit_card_train.to_csv('credit_card_balance_train.csv')
# bureau_train.to_csv('bureau_train.csv')
# bureau_balance_train.to_csv('bureau_balance_train.csv')

# 0. Connet to the Mysql Database Server
# Data Frame => DataBase

In [53]:
import MySQLdb
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:Jong910218!@13.125.166.213/home_credit')

In [54]:
bureau_train.to_sql(name = 'bureau_train', con=engine, if_exists='replace')
bureau_balance_train.to_sql(name= 'bureau_balance_train', con=engine, 
                           if_exists = 'replace')

# 1. df1 - Merge (Bureau_balance + Bureau)

In [26]:
bureau_balance_train.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0       5715451              -5      C    380361.0
1       5715451              -6      C    380361.0
2       5715451              -7      C    380361.0
3       5715451              -8      C    380361.0
4       5715451              -9      C    380361.0

In [27]:
bureau_train.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.0,0.0,0.0,Credit card,-185,NaN
1,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.0,NaN,NaN,0.0,Consumer credit,-2601,NaN
2,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.0,NaN,NaN,0.0,Consumer credit,-984,NaN
3,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.0,520920.0,NaN,0.0,Consumer credit,-4,NaN
4,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.5,NaN,0.0,Credit card,-7,NaN

In [28]:
print('bureau_shape: ', bureau_train.shape)
print('bureau_balance_shape: ', bureau_balance_train.shape)

bureau_shape:  (1680412, 17)
bureau_balance_shape:  (10335059, 4)

In [42]:
# bureau와 bureau_balance의 Unique ID 수가 같은지 확인
print('bureau_train[SK_ID_CURR].nunique: ', bureau_train['SK_ID_CURR'].nunique())
print('bureau[SK_ID_CURR].nunique: ', bureau_balance_train['SK_ID_CURR'].nunique())

bureau_train[SK_ID_CURR].nunique:  184597
bureau[SK_ID_CURR].nunique:  64585

In [ ]:
# df1 = pd.merge(bureau_train, bureau_balance_train, how='inner', on = 'SK_ID_CURR')