In [5]:
path = ('C://Users//Jongjae//Project/home_credit/')

trainset = pd.read_csv(path + 'application_trainset.csv')
pre_app_train = pd.read_csv(path + 'previous_application_train.csv')
pos_cash_train = pd.read_csv(path + 'POS_CASH_balance_train.csv')
install_train = pd.read_csv(path + 'installments_payments_train.csv')
credit_card_train = pd.read_csv(path + 'credit_card_balance_train.csv')
bureau_train = pd.read_csv(path + 'bureau_train.csv')
# bureau_balance_train = pd.read_csv(path + 'bureau_balance_train.csv')

In [11]:
del trainset['Unnamed: 0']
del bureau_train['Unnamed: 0']
del bureau_train['Unnamed: 0.1']
del bureau_balance_train['Unnamed: 0']
del bureau_balance_train['Unnamed: 0.1']
del credit_card_train['Unnamed: 0']
del install_train['Unnamed: 0']
del pre_app_train['Unnamed: 0']
del pre_app_train['Unnamed: 0.1']
del pos_cash_train['Unnamed: 0']

In [25]:
# trainset.to_csv('application_trainset.csv')

In [33]:
# pre_app_train.to_csv('previous_application_train.csv')
# pos_cash_train.to_csv('POS_CASH_balance_train.csv')
# install_train.to_csv('installments_payments_train.csv')
# credit_card_train.to_csv('credit_card_balance_train.csv')
# bureau_train.to_csv('bureau_train.csv')
# bureau_balance_train.to_csv('bureau_balance_train.csv')

# Merge into one DataFrame (Train)

## 1) bureau_train + bureau_balance_train

In [12]:
bureau_train.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.0,0.0,0.0,Credit card,-185,NaN
1,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.0,NaN,NaN,0.0,Consumer credit,-2601,NaN
2,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.0,NaN,NaN,0.0,Consumer credit,-984,NaN
3,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.0,520920.0,NaN,0.0,Consumer credit,-4,NaN
4,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.5,NaN,0.0,Credit card,-7,NaN

In [13]:
bureau_balance_train.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0       5715451              -5      C    380361.0
1       5715451              -6      C    380361.0
2       5715451              -7      C    380361.0
3       5715451              -8      C    380361.0
4       5715451              -9      C    380361.0

In [17]:
print('bureau_train_shape: ', bureau_train.shape)
print('bureau_balance_train_shape: ', bureau_balance_train.shape)

bureau_train_shape:  (1680412, 19)
bureau_balance_train_shape:  (10335059, 6)

In [18]:
merged_bureau = pd.merge(bureau_train, bureau_balance_train, how='inner', on='SK_ID_BUREAU')

In [35]:
bureau_balance_train.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0       5715451              -5      C    380361.0
1       5715451              -6      C    380361.0
2       5715451              -7      C    380361.0
3       5715451              -8      C    380361.0
4       5715451              -9      C    380361.0

In [14]:
pre_app_train.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
1,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
2,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
3,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,XNA,18.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
4,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pos_cash_train.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1715348,367990,-33,36.0,35.0,Active,0,0
1,1784872,397406,-32,12.0,9.0,Active,0,0
2,1903291,269225,-35,48.0,42.0,Active,0,0
3,2207092,342166,-32,12.0,12.0,Active,0,0
4,1110516,204376,-38,48.0,43.0,Active,0,0

In [16]:
install_train.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
2,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
3,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
4,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740

In [17]:
credit_card_train.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
1,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.500,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
2,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.340,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0
3,1985699,302517,-4,1427.265,135000,4500.0,101304.720,0.0,96804.720,3023.955,...,0.000,0.000,1.0,30,0.0,29.0,27.0,Active,0,0
4,1441883,171537,-5,0.000,270000,0.0,0.000,0.0,0.000,12218.490,...,0.000,0.000,0.0,0,0.0,0.0,2.0,Active,0,0

In [18]:
bureau_train.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.0,0.0,0.0,Credit card,-185,NaN
1,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.0,NaN,NaN,0.0,Consumer credit,-2601,NaN
2,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.0,NaN,NaN,0.0,Consumer credit,-984,NaN
3,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.0,520920.0,NaN,0.0,Consumer credit,-4,NaN
4,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.5,NaN,0.0,Credit card,-7,NaN

In [24]:
bureau_balance_train.head(50)

    SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0        5715451              -5      C    380361.0
1        5715451              -6      C    380361.0
2        5715451              -7      C    380361.0
3        5715451              -8      C    380361.0
4        5715451              -9      C    380361.0
5        5715451             -10      0    380361.0
6        5715451             -11      0    380361.0
7        5715451             -12      0    380361.0
8        5715451             -13      0    380361.0
9        5715451             -14      0    380361.0
10       5715451             -15      0    380361.0
11       5715451             -16      X    380361.0
12       5715451             -17      X    380361.0
13       5715451             -18      X    380361.0
14       5715451             -19      0    380361.0
15       5715451             -20      0    380361.0
16       5715451             -21      0    380361.0
17       5715451             -22      0    380361.0
18       5715451             -23      0    380361.0
19       5715451             -24      0    380361.0
20       5715451             -25      0    380361.0
21       5715451             -26      0    380361.0
22       5715451             -27      0    380361.0
23       5715451             -28      0    380361.0
24       5715451             -29      0    380361.0
25       5715451             -30      X    380361.0
26       5715457               0      0    380361.0
27       5715457              -1      X    380361.0
28       5715457              -2      X    380361.0
29       5715457              -3      X    380361.0
30       5715457              -4      X    380361.0
31       5715457              -5      X    380361.0
32       5715457              -6      X    380361.0
33       5715457              -7      X    380361.0
34       5715460               0      X    380361.0
35       5715460              -1      X    380361.0
36       5715460              -2      X    380361.0
37       5715460              -3      X    380361.0
38       5715460              -4      X    380361.0
39       5715460              -5      X    380361.0
40       5715460              -6      X    380361.0
41       5715460              -7      X    380361.0
42       5715521               0      C    448798.0
43       5715521              -1      C    448798.0
44       5715521              -2      C    448798.0
45       5715521              -3      C    448798.0
46       5715521              -4      C    448798.0
47       5715521              -5      C    448798.0
48       5715521              -6      0    448798.0
49       5715521              -7      0    448798.0

# 1. df1 - Merge (Bureau_balance + Bureau)

In [26]:
bureau_balance_train.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS  SK_ID_CURR
0       5715451              -5      C    380361.0
1       5715451              -6      C    380361.0
2       5715451              -7      C    380361.0
3       5715451              -8      C    380361.0
4       5715451              -9      C    380361.0

In [27]:
bureau_train.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.0,0.0,0.0,Credit card,-185,NaN
1,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.0,NaN,NaN,0.0,Consumer credit,-2601,NaN
2,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.0,NaN,NaN,0.0,Consumer credit,-984,NaN
3,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.0,520920.0,NaN,0.0,Consumer credit,-4,NaN
4,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.5,NaN,0.0,Credit card,-7,NaN

In [28]:
print('bureau_shape: ', bureau_train.shape)
print('bureau_balance_shape: ', bureau_balance_train.shape)

bureau_shape:  (1680412, 17)
bureau_balance_shape:  (10335059, 4)

In [42]:
# bureau와 bureau_balance의 Unique ID 수가 같은지 확인
print('bureau_train[SK_ID_CURR].nunique: ', bureau_train['SK_ID_CURR'].nunique())
print('bureau[SK_ID_CURR].nunique: ', bureau_balance_train['SK_ID_CURR'].nunique())

bureau_train[SK_ID_CURR].nunique:  184597
bureau[SK_ID_CURR].nunique:  64585

In [43]:
df1 = pd.merge(bureau_train, bureau_balance_train, how='inner', on = 'SK_ID_CURR')

MemoryError:

# 1. df2 - Merge (Bureau_balance + Bureau)