In [1]:
path = ('C://Users//Jongjae//Project/home_credit/')
test = pd.read_csv(path + 'application_test.csv')

In [2]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import scale, robust_scale, minmax_scale, maxabs_scale

In [3]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [4]:
test['NAME_CONTRACT_TYPE'] = LabelEncoder().fit_transform(test['NAME_CONTRACT_TYPE'])
test['CODE_GENDER'] = LabelEncoder().fit_transform(test['CODE_GENDER'])
test['FLAG_OWN_CAR'] = LabelEncoder().fit_transform(test['FLAG_OWN_CAR'])

In [5]:
test['FLAG_OWN_REALTY'] = LabelEncoder().fit_transform(test['FLAG_OWN_REALTY'])

In [6]:
sorted(test['CNT_CHILDREN'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 20]

In [7]:
from sklearn.preprocessing import LabelBinarizer
test_CNT_CHILDREN = pd.DataFrame(LabelBinarizer().fit_transform(test['CNT_CHILDREN']), 
                                           columns = ['CNT_CHILDREN_0', 'CNT_CHILDREN_1', 'CNT_CHILDREN_2',
                                                    'CNT_CHILDREN_3', 'CNT_CHILDREN_4', 'CNT_CHILDREN_5',
                                                    'CNT_CHILDREN_6', 'CNT_CHILDREN_7', 'CNT_CHILDREN_8',
                                                    'CNT_CHILDREN_11', 'CNT_CHILDREN_20'], index=test.index)
test = pd.concat([test, test_CNT_CHILDREN], axis = 1)
del(test['CNT_CHILDREN'])

In [8]:
test['AMT_INCOME_TOTAL'] = scale(test['AMT_INCOME_TOTAL'])
test['AMT_CREDIT'] = scale(test['AMT_CREDIT'])

In [9]:
test['AMT_ANNUITY'].fillna(test['AMT_ANNUITY'].mean(), inplace = True)
test['AMT_ANNUITY'] = scale(test['AMT_ANNUITY'])

In [10]:
test['AMT_GOODS_PRICE'] = scale(test['AMT_GOODS_PRICE'])

In [11]:
test['NAME_TYPE_SUITE'].fillna(test['NAME_TYPE_SUITE'].mode()[0], inplace = True)
test_NAME_TYPE_SUITE = pd.get_dummies(test['NAME_TYPE_SUITE'])
test = pd.concat([test, test_NAME_TYPE_SUITE], axis = 1)
del(test['NAME_TYPE_SUITE'])

In [12]:
test_NAME_EDUCATION_TYPE = pd.get_dummies(test['NAME_EDUCATION_TYPE'])
test = pd.concat([test, test_NAME_EDUCATION_TYPE], axis = 1)
del(test['NAME_EDUCATION_TYPE'])

In [13]:
test_NAME_FAMILY_STATUS = pd.get_dummies(test['NAME_FAMILY_STATUS'])
test = pd.concat([test, test_NAME_FAMILY_STATUS], axis = 1)
del(test['NAME_FAMILY_STATUS'])

In [14]:
test_NAME_HOUSING_TYPE = pd.get_dummies(test['NAME_HOUSING_TYPE'])
test = pd.concat([test, test_NAME_HOUSING_TYPE], axis = 1)
del(test['NAME_HOUSING_TYPE'])

In [15]:
test['DAYS_BIRTH'] = scale(test['DAYS_BIRTH'])
test['DAYS_EMPLOYED'] = scale(test['DAYS_EMPLOYED'])
test['DAYS_REGISTRATION'] = scale(test['DAYS_REGISTRATION'])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [16]:
test['DAYS_ID_PUBLISH'] = scale(test['DAYS_ID_PUBLISH'])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [17]:
test['OWN_CAR_AGE'].fillna(test['OWN_CAR_AGE'].mode()[0], inplace=True)

In [18]:
print(sorted(test['OWN_CAR_AGE'].unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 49.0, 50.0, 52.0, 55.0, 56.0, 65.0, 74.0]

In [19]:
from sklearn.preprocessing import LabelBinarizer
test_OWN_CAR_AGE = pd.DataFrame(LabelBinarizer().fit_transform(test['OWN_CAR_AGE']), 
                                           columns = ['OWN_CAR_AGE_0', 'OWN_CAR_AGE_1', 'OWN_CAR_AGE_2',
                                                    'OWN_CAR_AGE_3', 'OWN_CAR_AGE_4', 'OWN_CAR_AGE_5',
                                                    'OWN_CAR_AGE_6', 'OWN_CAR_AGE_7', 'OWN_CAR_AGE_8',
                                                    'OWN_CAR_AGE_9', 'OWN_CAR_AGE_10', 'OWN_CAR_AGE_11',
                                                    'OWN_CAR_AGE_12', 'OWN_CAR_AGE_13', 'OWN_CAR_AGE_14',
                                                     'OWN_CAR_AGE_15', 'OWN_CAR_AGE_16', 'OWN_CAR_AGE_17',
                                                     'OWN_CAR_AGE_18', 'OWN_CAR_AGE_19', 'OWN_CAR_AGE_20', 
                                                     'OWN_CAR_AGE_21', 'OWN_CAR_AGE_22', 'OWN_CAR_AGE_23', 
                                                     'OWN_CAR_AGE_24', 'OWN_CAR_AGE_25', 'OWN_CAR_AGE_26',
                                                     'OWN_CAR_AGE_27', 'OWN_CAR_AGE_28', 'OWN_CAR_AGE_29', 
                                                     'OWN_CAR_AGE_30', 'OWN_CAR_AGE_31', 'OWN_CAR_AGE_32',
                                                     'OWN_CAR_AGE_33', 'OWN_CAR_AGE_34', 'OWN_CAR_AGE_35', 
                                                     'OWN_CAR_AGE_36', 'OWN_CAR_AGE_37', 'OWN_CAR_AGE_38', 
                                                     'OWN_CAR_AGE_39', 'OWN_CAR_AGE_40', 'OWN_CAR_AGE_41', 
                                                     'OWN_CAR_AGE_42', 'OWN_CAR_AGE_43', 'OWN_CAR_AGE_44', 
                                                     'OWN_CAR_AGE_49', 'OWN_CAR_AGE_50', 'OWN_CAR_AGE_52',
                                                     'OWN_CAR_AGE_55', 'OWN_CAR_AGE_56', 'OWN_CAR_AGE_65',
                                                     'OWN_CAR_AGE_74'], index=test.index)
test = pd.concat([test, test_OWN_CAR_AGE], axis = 1)
del(test['OWN_CAR_AGE'])

In [20]:
test['FLAG_MOBIL'] = LabelEncoder().fit_transform(test['FLAG_MOBIL'])
test['FLAG_EMP_PHONE'] = LabelEncoder().fit_transform(test['FLAG_EMP_PHONE'])
test['FLAG_WORK_PHONE'] = LabelEncoder().fit_transform(test['FLAG_WORK_PHONE'])

In [21]:
test['FLAG_CONT_MOBILE'] = LabelEncoder().fit_transform(test['FLAG_CONT_MOBILE'])

In [22]:
test['FLAG_PHONE'] = LabelEncoder().fit_transform(test['FLAG_PHONE'])

In [23]:
test['OCCUPATION_TYPE'].fillna(test['OCCUPATION_TYPE'].mode()[0], inplace=True)
test_OCCUPATION_TYPE = pd.get_dummies(test['OCCUPATION_TYPE'])
test = pd.concat([test, test_OCCUPATION_TYPE], axis = 1)
del(test['OCCUPATION_TYPE'])

In [24]:
print(sorted(test['CNT_FAM_MEMBERS'].unique()))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 13.0, 21.0]

In [25]:
from sklearn.preprocessing import LabelBinarizer
test_CNT_FAM_MEMBERS = pd.DataFrame(LabelBinarizer().fit_transform(test['CNT_FAM_MEMBERS']), 
                                           columns = ['CNT_FAM_MEMBERS_1', 'CNT_FAM_MEMBERS_2', 'CNT_FAM_MEMBERS_3',
                                                    'CNT_FAM_MEMBERS_4', 'CNT_FAM_MEMBERS_5', 'CNT_FAM_MEMBERS_6',
                                                    'CNT_FAM_MEMBERS_7', 'CNT_FAM_MEMBERS_8', 'CNT_FAM_MEMBERS_9',
                                                    'CNT_FAM_MEMBERS_10', 'CNT_FAM_MEMBERS_13', 'CNT_FAM_MEMBERS_21'], index=test.index)
test = pd.concat([test, test_CNT_FAM_MEMBERS], axis = 1)
del(test['CNT_FAM_MEMBERS'])

In [26]:
test_REGION_RATING_CLIENT_W_CITY = pd.DataFrame(LabelBinarizer().fit_transform(test['REGION_RATING_CLIENT_W_CITY']), 
                                           columns = ['REGION_RATING_CLIENT_W_CITY_1', 'REGION_RATING_CLIENT_W_CITY_2',
                                                      'REGION_RATING_CLIENT_W_CITY_3', 'REGION_RATING_CLIENT_W_CITY_-1'], index=test.index)
test = pd.concat([test, test_REGION_RATING_CLIENT_W_CITY], axis = 1)
del(test['REGION_RATING_CLIENT_W_CITY'])

In [27]:
# 위에 -1은 기존 train에는 없었음

In [28]:
test_WEEKDAY_APPR_PROCESS_START = pd.get_dummies(test['WEEKDAY_APPR_PROCESS_START'])
test = pd.concat([test, test_WEEKDAY_APPR_PROCESS_START], axis = 1)
del(test['WEEKDAY_APPR_PROCESS_START'])

In [29]:
print(sorted(test['HOUR_APPR_PROCESS_START'].unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [30]:
test_HOUR_APPR_PROCESS_START = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['HOUR_APPR_PROCESS_START']), 
                                           columns = ['HOUR_APPR_PROCESS_START_0', 'HOUR_APPR_PROCESS_START_1', 'HOUR_APPR_PROCESS_START_2', 'HOUR_APPR_PROCESS_START_3',
                                                      'HOUR_APPR_PROCESS_START_4', 'HOUR_APPR_PROCESS_START_5', 'HOUR_APPR_PROCESS_START_6',
                                                      'HOUR_APPR_PROCESS_START_7', 'HOUR_APPR_PROCESS_START_8', 'HOUR_APPR_PROCESS_START_9',
                                                      'HOUR_APPR_PROCESS_START_10', 'HOUR_APPR_PROCESS_START_11',
                                                     'HOUR_APPR_PROCESS_START_12', 'HOUR_APPR_PROCESS_START_13', 'HOUR_APPR_PROCESS_START_14',
                                                     'HOUR_APPR_PROCESS_START_15', 'HOUR_APPR_PROCESS_START_16', 'HOUR_APPR_PROCESS_START_17',
                                                     'HOUR_APPR_PROCESS_START_18', 'HOUR_APPR_PROCESS_START_19', 'HOUR_APPR_PROCESS_START_20',
                                                     'HOUR_APPR_PROCESS_START_21', 'HOUR_APPR_PROCESS_START_22', 'HOUR_APPR_PROCESS_START_23'], index=test.index)
test = pd.concat([test, test_HOUR_APPR_PROCESS_START], axis = 1)
del(test['HOUR_APPR_PROCESS_START'])

In [35]:
test_ORGANIZATION_TYPE = pd.get_dummies(test['ORGANIZATION_TYPE'])
test = pd.concat([test, test_ORGANIZATION_TYPE], axis = 1)
del(test['ORGANIZATION_TYPE'])

In [37]:
print(test.columns[28], test.columns[77])

EXT_SOURCE_1 EMERGENCYSTATE_MODE

In [38]:
normalized_test = test.iloc[:, [28,29,30,31,32,33,34,35,36,37,38,39,40,
                                41,42,43,44,45,46,47,48,49,50,51,52,53,54,
                                55,56,57,58,59,60,61,62,63,64,65,66,67,68,
                                69,70,71,72,73,74,75,76,77]]

In [39]:
%matplotlib inline
missing_values_table(normalized_test)

Your selected dataframe has 50 columns.
There are 50 columns that have missing values.

                              Missing Values  % of Total Values
EXT_SOURCE_1                           20532               42.1
EXT_SOURCE_2                               8                0.0
EXT_SOURCE_3                            8668               17.8
APARTMENTS_AVG                         23887               49.0
BASEMENTAREA_AVG                       27641               56.7
YEARS_BEGINEXPLUATATION_AVG            22856               46.9
YEARS_BUILD_AVG                        31818               65.3
COMMONAREA_AVG                         33495               68.7
ELEVATORS_AVG                          25189               51.7
ENTRANCES_AVG                          23579               48.4
FLOORSMAX_AVG                          23321               47.8
FLOORSMIN_AVG                          32466               66.6
LANDAREA_AVG                           28254               58.0
LIVINGAPARTMENTS_AVG                   32780               67.2
LIVINGAREA_AVG                         23552               48.3
NONLIVINGAPARTMENTS_AVG                33347               68.4
NONLIVINGAREA_AVG                      26084               53.5
APARTMENTS_MODE                        23887               49.0
BASEMENTAREA_MODE                      27641               56.7
YEARS_BEGINEXPLUATATION_MODE           22856               46.9
YEARS_BUILD_MODE                       31818               65.3
COMMONAREA_MODE                        33495               68.7
ELEVATORS_MODE                         25189               51.7
ENTRANCES_MODE                         23579               48.4
FLOORSMAX_MODE                         23321               47.8
FLOORSMIN_MODE                         32466               66.6
LANDAREA_MODE                          28254               58.0
LIVINGAPARTMENTS_MODE                  32780               67.2
LIVINGAREA_MODE                        23552               48.3
NONLIVINGAPARTMENTS_MODE               33347               68.4
NONLIVINGAREA_MODE                     26084               53.5
APARTMENTS_MEDI                        23887               49.0
BASEMENTAREA_MEDI                      27641               56.7
YEARS_BEGINEXPLUATATION_MEDI           22856               46.9
YEARS_BUILD_MEDI                       31818               65.3
COMMONAREA_MEDI                        33495               68.7
ELEVATORS_MEDI                         25189               51.7
ENTRANCES_MEDI                         23579               48.4
FLOORSMAX_MEDI                         23321               47.8
FLOORSMIN_MEDI                         32466               66.6
LANDAREA_MEDI                          28254               58.0
LIVINGAPARTMENTS_MEDI                  32780               67.2
LIVINGAREA_MEDI                        23552               48.3
NONLIVINGAPARTMENTS_MEDI               33347               68.4
NONLIVINGAREA_MEDI                     26084               53.5
FONDKAPREMONT_MODE                     32797               67.3
HOUSETYPE_MODE                         23619               48.5
TOTALAREA_MODE                         22624               46.4
WALLSMATERIAL_MODE                     23893               49.0
EMERGENCYSTATE_MODE                    22209               45.6

In [40]:
normalized_test.dtypes

EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
dtype: object

In [41]:
# 1. test['FONDKAPREMONT_MODE']

In [42]:
test['FONDKAPREMONT_MODE'].mode()[0]
test['FONDKAPREMONT_MODE'] = test['FONDKAPREMONT_MODE'].fillna('reg oper account')
test_FONDKAPREMONT_MODE = pd.get_dummies(test['FONDKAPREMONT_MODE'])
test = pd.concat([test, test_FONDKAPREMONT_MODE], axis = 1)
del(test['FONDKAPREMONT_MODE'])

In [43]:
# 2. test['HOUSETYPE_MODE']

In [44]:
test['HOUSETYPE_MODE'].mode()[0]
test['HOUSETYPE_MODE'] = test['HOUSETYPE_MODE'].fillna('block of flats')
test_HOUSETYPE_MODE = pd.get_dummies(test['HOUSETYPE_MODE'])
test = pd.concat([test, test_HOUSETYPE_MODE], axis = 1)
del(test['HOUSETYPE_MODE'])

In [45]:
#3, test['WALLSMATERIAL_MODE']

In [46]:
test['WALLSMATERIAL_MODE'].mode()[0]
test['WALLSMATERIAL_MODE'] = test['WALLSMATERIAL_MODE'].fillna('Panel')
test_WALLSMATERIAL_MODE = pd.get_dummies(test['WALLSMATERIAL_MODE'])
test = pd.concat([test, test_WALLSMATERIAL_MODE], axis = 1)
del(test['WALLSMATERIAL_MODE'])

In [47]:
#4. test['EMERGENCYSTATE_MODE']

In [48]:
test['EMERGENCYSTATE_MODE'].mode()[0]
test['EMERGENCYSTATE_MODE'] = test['EMERGENCYSTATE_MODE'].fillna('No')
test['EMERGENCYSTATE_MODE'] = LabelEncoder().fit_transform(test['EMERGENCYSTATE_MODE'])

In [50]:
test.columns[74]

'EMERGENCYSTATE_MODE'

In [51]:
troubles = test.iloc[:, [28,29,30,31,32,33,34,35,36,37,38,39,40,
                                41,42,43,44,45,46,47,48,49,50,51,52,53,54,
                                55,56,57,58,59,60,61,62,63,64,65,66,67,68,
                                69,70,71,72,73,74]]

In [52]:
for i in troubles.columns:
    test['{}'.format(i)] = test['{}'.format(i)].fillna(test['{}'.format(i)].mean())

In [53]:
for i in troubles.columns:
    print(i, test['{}'.format(i)].isnull().sum())

EXT_SOURCE_1 0
EXT_SOURCE_2 0
EXT_SOURCE_3 0
APARTMENTS_AVG 0
BASEMENTAREA_AVG 0
YEARS_BEGINEXPLUATATION_AVG 0
YEARS_BUILD_AVG 0
COMMONAREA_AVG 0
ELEVATORS_AVG 0
ENTRANCES_AVG 0
FLOORSMAX_AVG 0
FLOORSMIN_AVG 0
LANDAREA_AVG 0
LIVINGAPARTMENTS_AVG 0
LIVINGAREA_AVG 0
NONLIVINGAPARTMENTS_AVG 0
NONLIVINGAREA_AVG 0
APARTMENTS_MODE 0
BASEMENTAREA_MODE 0
YEARS_BEGINEXPLUATATION_MODE 0
YEARS_BUILD_MODE 0
COMMONAREA_MODE 0
ELEVATORS_MODE 0
ENTRANCES_MODE 0
FLOORSMAX_MODE 0
FLOORSMIN_MODE 0
LANDAREA_MODE 0
LIVINGAPARTMENTS_MODE 0
LIVINGAREA_MODE 0
NONLIVINGAPARTMENTS_MODE 0
NONLIVINGAREA_MODE 0
APARTMENTS_MEDI 0
BASEMENTAREA_MEDI 0
YEARS_BEGINEXPLUATATION_MEDI 0
YEARS_BUILD_MEDI 0
COMMONAREA_MEDI 0
ELEVATORS_MEDI 0
ENTRANCES_MEDI 0
FLOORSMAX_MEDI 0
FLOORSMIN_MEDI 0
LANDAREA_MEDI 0
LIVINGAPARTMENTS_MEDI 0
LIVINGAREA_MEDI 0
NONLIVINGAPARTMENTS_MEDI 0
NONLIVINGAREA_MEDI 0
TOTALAREA_MODE 0
EMERGENCYSTATE_MODE 0

In [54]:
test['OBS_30_CNT_SOCIAL_CIRCLE'] = test['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(test['OBS_30_CNT_SOCIAL_CIRCLE'].mode()[0])

In [55]:
print(sorted(test['OBS_30_CNT_SOCIAL_CIRCLE'].unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 29.0, 352.0, 353.0, 354.0]

In [56]:
from sklearn.preprocessing import LabelBinarizer

test_OBS_30_CNT_SOCIAL_CIRCLE = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['OBS_30_CNT_SOCIAL_CIRCLE']), 
                                           columns = ['OBS_30_CNT_SOCIAL_CIRCLE_0', 'OBS_30_CNT_SOCIAL_CIRCLE_1', 'OBS_30_CNT_SOCIAL_CIRCLE_2',
                                                      'OBS_30_CNT_SOCIAL_CIRCLE_3', 'OBS_30_CNT_SOCIAL_CIRCLE_4', 'OBS_30_CNT_SOCIAL_CIRCLE_5',
                                                      'OBS_30_CNT_SOCIAL_CIRCLE_6', 'OBS_30_CNT_SOCIAL_CIRCLE_7', 'OBS_30_CNT_SOCIAL_CIRCLE_8',
                                                      'OBS_30_CNT_SOCIAL_CIRCLE_9', 'OBS_30_CNT_SOCIAL_CIRCLE_10', 'OBS_30_CNT_SOCIAL_CIRCLE_11',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_12', 'OBS_30_CNT_SOCIAL_CIRCLE_13', 'OBS_30_CNT_SOCIAL_CIRCLE_14',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_15', 'OBS_30_CNT_SOCIAL_CIRCLE_16', 'OBS_30_CNT_SOCIAL_CIRCLE_17',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_18', 'OBS_30_CNT_SOCIAL_CIRCLE_19', 'OBS_30_CNT_SOCIAL_CIRCLE_20',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_21', 'OBS_30_CNT_SOCIAL_CIRCLE_22', 'OBS_30_CNT_SOCIAL_CIRCLE_23',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_29',
                                                     'OBS_30_CNT_SOCIAL_CIRCLE_352', 'OBS_30_CNT_SOCIAL_CIRCLE_353', 'OBS_30_CNT_SOCIAL_CIRCLE_354'], index=test.index)
test = pd.concat([test, test_OBS_30_CNT_SOCIAL_CIRCLE], axis = 1)
del(test['OBS_30_CNT_SOCIAL_CIRCLE'])

In [57]:
test['DEF_30_CNT_SOCIAL_CIRCLE'] = test['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(0.0)

In [58]:
test['DEF_30_CNT_SOCIAL_CIRCLE'].unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6., 34.])

In [59]:
from sklearn.preprocessing import LabelBinarizer

test_DEF_30_CNT_SOCIAL_CIRCLE = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['DEF_30_CNT_SOCIAL_CIRCLE']), 
                                           columns = ['DEF_30_CNT_SOCIAL_CIRCLE_0', 'DEF_30_CNT_SOCIAL_CIRCLE_1', 'DEF_30_CNT_SOCIAL_CIRCLE_2',
                                                      'DEF_30_CNT_SOCIAL_CIRCLE_3', 'DEF_30_CNT_SOCIAL_CIRCLE_4', 'DEF_30_CNT_SOCIAL_CIRCLE_5',
                                                      'DEF_30_CNT_SOCIAL_CIRCLE_6', 'DEF_30_CNT_SOCIAL_CIRCLE_34'], index=test.index)
test = pd.concat([test, test_DEF_30_CNT_SOCIAL_CIRCLE], axis = 1)
del(test['DEF_30_CNT_SOCIAL_CIRCLE'])

In [60]:
print(sorted(test['OBS_60_CNT_SOCIAL_CIRCLE'].unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, nan, 29.0, 349.0, 351.0]

In [61]:
test['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(0.0, inplace=True)

In [62]:
from sklearn.preprocessing import LabelBinarizer

test_OBS_60_CNT_SOCIAL_CIRCLE = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['OBS_60_CNT_SOCIAL_CIRCLE']), 
                                           columns = ['OBS_60_CNT_SOCIAL_CIRCLE_0', 'OBS_60_CNT_SOCIAL_CIRCLE_1', 'OBS_60_CNT_SOCIAL_CIRCLE_2',
                                                      'OBS_60_CNT_SOCIAL_CIRCLE_3', 'OBS_60_CNT_SOCIAL_CIRCLE_4', 'OBS_60_CNT_SOCIAL_CIRCLE_5',
                                                      'OBS_60_CNT_SOCIAL_CIRCLE_6', 'OBS_60_CNT_SOCIAL_CIRCLE_7', 'OBS_60_CNT_SOCIAL_CIRCLE_8',
                                                      'OBS_60_CNT_SOCIAL_CIRCLE_9', 'OBS_60_CNT_SOCIAL_CIRCLE_10', 'OBS_60_CNT_SOCIAL_CIRCLE_11',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_12', 'OBS_60_CNT_SOCIAL_CIRCLE_13', 'OBS_60_CNT_SOCIAL_CIRCLE_14',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_15', 'OBS_60_CNT_SOCIAL_CIRCLE_16', 'OBS_60_CNT_SOCIAL_CIRCLE_17',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_18', 'OBS_60_CNT_SOCIAL_CIRCLE_19', 'OBS_60_CNT_SOCIAL_CIRCLE_20',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_21', 'OBS_60_CNT_SOCIAL_CIRCLE_22', 'OBS_60_CNT_SOCIAL_CIRCLE_23',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_29',
                                                     'OBS_60_CNT_SOCIAL_CIRCLE_349', 'OBS_60_CNT_SOCIAL_CIRCLE_351'], index=test.index)
test = pd.concat([test, test_OBS_60_CNT_SOCIAL_CIRCLE], axis = 1)
del(test['OBS_60_CNT_SOCIAL_CIRCLE'])

In [63]:
sorted(test['DEF_60_CNT_SOCIAL_CIRCLE'].unique())

[0.0, 1.0, 2.0, 3.0, 4.0, nan, 5.0, 24.0]

In [64]:
test['DEF_60_CNT_SOCIAL_CIRCLE'] = test['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(0.0)

In [65]:
from sklearn.preprocessing import LabelBinarizer

test_DEF_60_CNT_SOCIAL_CIRCLE = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['DEF_60_CNT_SOCIAL_CIRCLE']), 
                                           columns = ['DEF_60_CNT_SOCIAL_CIRCLE_0', 'DEF_60_CNT_SOCIAL_CIRCLE_1', 'DEF_60_CNT_SOCIAL_CIRCLE_2',
                                                      'DEF_60_CNT_SOCIAL_CIRCLE_3', 'DEF_60_CNT_SOCIAL_CIRCLE_4', 'DEF_60_CNT_SOCIAL_CIRCLE_5',
                                                      'DEF_60_CNT_SOCIAL_CIRCLE_24'], index=test.index)
test = pd.concat([test, test_DEF_60_CNT_SOCIAL_CIRCLE], axis = 1)
del(test['DEF_60_CNT_SOCIAL_CIRCLE'])

In [66]:
test['DAYS_LAST_PHONE_CHANGE'] = scale(test['DAYS_LAST_PHONE_CHANGE'])

In [67]:
print(test['AMT_REQ_CREDIT_BUREAU_HOUR'].mode()[0])
print(test['AMT_REQ_CREDIT_BUREAU_DAY'].mode()[0])
print(test['AMT_REQ_CREDIT_BUREAU_WEEK'].mode()[0])
print(test['AMT_REQ_CREDIT_BUREAU_MON'].mode()[0])
print(test['AMT_REQ_CREDIT_BUREAU_QRT'].mode()[0])
print(test['AMT_REQ_CREDIT_BUREAU_YEAR'].mode()[0])

0.0
0.0
0.0
0.0
0.0
0.0

In [68]:
print(test['AMT_REQ_CREDIT_BUREAU_HOUR'].unique())
print(test['AMT_REQ_CREDIT_BUREAU_DAY'].unique())
print(test['AMT_REQ_CREDIT_BUREAU_WEEK'].unique())
print(test['AMT_REQ_CREDIT_BUREAU_MON'].unique())
print(test['AMT_REQ_CREDIT_BUREAU_QRT'].unique())
print(test['AMT_REQ_CREDIT_BUREAU_YEAR'].unique())

[ 0. nan  1.  2.]
[ 0. nan  1.  2.]
[ 0. nan  1.  2.]
[ 0. nan  1.  3.  2.  6.  4.  5.]
[ 0.  1. nan  3.  2.  4.  5.  7.  6.]
[ 0.  3.  4. nan  2.  1.  5.  6.  7.  9.  8. 10. 11. 13. 12. 17. 14.]

In [69]:
print(test['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull().sum())
print(test['AMT_REQ_CREDIT_BUREAU_DAY'].isnull().sum())
print(test['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull().sum())
print(test['AMT_REQ_CREDIT_BUREAU_MON'].isnull().sum())
print(test['AMT_REQ_CREDIT_BUREAU_QRT'].isnull().sum())
print(test['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum())

6049
6049
6049
6049
6049
6049

In [70]:
test['AMT_REQ_CREDIT_BUREAU_HOUR'] = test['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(0.0)
test['AMT_REQ_CREDIT_BUREAU_DAY'] = test['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(0.0)
test['AMT_REQ_CREDIT_BUREAU_WEEK'] = test['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(0.0)
test['AMT_REQ_CREDIT_BUREAU_MON'] = test['AMT_REQ_CREDIT_BUREAU_MON'].fillna(0.0)
test['AMT_REQ_CREDIT_BUREAU_QRT'] = test['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(0.0)
test['AMT_REQ_CREDIT_BUREAU_YEAR'] = test['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(0.0)

In [71]:
test['AMT_REQ_CREDIT_BUREAU_HOUR'].unique()

array([0., 1., 2.])

In [72]:
from sklearn.preprocessing import LabelBinarizer

test_AMT_REQ_CREDIT_BUREAU_HOUR = pd.DataFrame(LabelBinarizer().fit_transform(test['AMT_REQ_CREDIT_BUREAU_HOUR']), 
                                           columns = ['AMT_REQ_CREDIT_BUREAU_HOUR_0', 'AMT_REQ_CREDIT_BUREAU_HOUR_1', 
                                                      'AMT_REQ_CREDIT_BUREAU_HOUR_2'], index=test.index)
test = pd.concat([test, test_AMT_REQ_CREDIT_BUREAU_HOUR], axis = 1)
del(test['AMT_REQ_CREDIT_BUREAU_HOUR'])

In [73]:
print(sorted(test['AMT_REQ_CREDIT_BUREAU_MON'].unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [74]:
from sklearn.preprocessing import LabelBinarizer

test_AMT_REQ_CREDIT_BUREAU_MON = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['AMT_REQ_CREDIT_BUREAU_MON']), 
                                           columns = ['AMT_REQ_CREDIT_BUREAU_MON_0', 'AMT_REQ_CREDIT_BUREAU_MON_1', 'AMT_REQ_CREDIT_BUREAU_MON_2',
                                                      'AMT_REQ_CREDIT_BUREAU_MON_3', 'AMT_REQ_CREDIT_BUREAU_MON_4', 'AMT_REQ_CREDIT_BUREAU_MON_5',
                                                      'AMT_REQ_CREDIT_BUREAU_MON_6'], index=test.index)
test = pd.concat([test, test_AMT_REQ_CREDIT_BUREAU_MON], axis = 1)
del(test['AMT_REQ_CREDIT_BUREAU_MON'])

In [75]:
sorted(test['AMT_REQ_CREDIT_BUREAU_QRT'].unique())

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [76]:
from sklearn.preprocessing import LabelBinarizer

test_AMT_REQ_CREDIT_BUREAU_QRT = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['AMT_REQ_CREDIT_BUREAU_QRT']), 
                                           columns = ['AMT_REQ_CREDIT_BUREAU_QRT_0', 'AMT_REQ_CREDIT_BUREAU_QRT_1', 'AMT_REQ_CREDIT_BUREAU_QRT_2',
                                                      'AMT_REQ_CREDIT_BUREAU_QRT_3', 'AMT_REQ_CREDIT_BUREAU_QRT_4', 'AMT_REQ_CREDIT_BUREAU_QRT_5',
                                                      'AMT_REQ_CREDIT_BUREAU_QRT_6', 'AMT_REQ_CREDIT_BUREAU_QRT_7'], index=test.index)
test = pd.concat([test, test_AMT_REQ_CREDIT_BUREAU_QRT], axis = 1)
del(test['AMT_REQ_CREDIT_BUREAU_QRT'])

In [77]:
print(sorted(test['AMT_REQ_CREDIT_BUREAU_YEAR'].unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 17.0]

In [78]:
from sklearn.preprocessing import LabelBinarizer

test_AMT_REQ_CREDIT_BUREAU_YEAR = pd.DataFrame(LabelBinarizer().
                                                fit_transform(test['AMT_REQ_CREDIT_BUREAU_YEAR']), 
                                           columns = ['AMT_REQ_CREDIT_BUREAU_YEAR_0', 'AMT_REQ_CREDIT_BUREAU_YEAR_1', 'AMT_REQ_CREDIT_BUREAU_YEAR_2',
                                                      'AMT_REQ_CREDIT_BUREAU_YEAR_3', 'AMT_REQ_CREDIT_BUREAU_YEAR_4', 'AMT_REQ_CREDIT_BUREAU_YEAR_5',
                                                      'AMT_REQ_CREDIT_BUREAU_YEAR_6', 'AMT_REQ_CREDIT_BUREAU_YEAR_7', 'AMT_REQ_CREDIT_BUREAU_YEAR_8',
                                                      'AMT_REQ_CREDIT_BUREAU_YEAR_9', 'AMT_REQ_CREDIT_BUREAU_YEAR_10', 'AMT_REQ_CREDIT_BUREAU_YEAR_11', 
                                                      'AMT_REQ_CREDIT_BUREAU_YEAR_12', 'AMT_REQ_CREDIT_BUREAU_YEAR_13', 'AMT_REQ_CREDIT_BUREAU_YEAR_14',
                                                      'AMT_REQ_CREDIT_BUREAU_YEAR_17'], index=test.index)
test = pd.concat([test, test_AMT_REQ_CREDIT_BUREAU_YEAR], axis = 1)
del(test['AMT_REQ_CREDIT_BUREAU_YEAR'])

# FINAL FRAME

In [80]:
test.shape

(48744, 425)

In [81]:
for i in test.columns:
    print(i)

SK_ID_CURR
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_INCOME_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
REGION_RATING_CLIENT
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
EMERGENCYSTATE_MODE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
CNT_CHILDREN_0
CNT_CHILDREN_1
CNT_CHILDREN_2
CNT_CHILDREN_3
CNT_CHILDREN_4
CNT_CHILDREN_5
CNT_CHILDREN_6
CNT_CHILDREN_7
CNT_CHILDREN_8
CNT_CHILDREN_11
CNT_CHILDREN_20
Children
Family
Group of people
Other_A
Other_B
Spouse, partner
Unaccompanied
Academic degree
Higher education
Incomplete higher
Lower secondary
Secondary / secondary special
Civil marriage
Married
Separated
Single / not married
Widow
Co-op apartment
House / apartment
Municipal apartment
Office apartment
Rented apartment
With parents
OWN_CAR_AGE_0
OWN_CAR_AGE_1
OWN_CAR_AGE_2
OWN_CAR_AGE_3
OWN_CAR_AGE_4
OWN_CAR_AGE_5
OWN_CAR_AGE_6
OWN_CAR_AGE_7
OWN_CAR_AGE_8
OWN_CAR_AGE_9
OWN_CAR_AGE_10
OWN_CAR_AGE_11
OWN_CAR_AGE_12
OWN_CAR_AGE_13
OWN_CAR_AGE_14
OWN_CAR_AGE_15
OWN_CAR_AGE_16
OWN_CAR_AGE_17
OWN_CAR_AGE_18
OWN_CAR_AGE_19
OWN_CAR_AGE_20
OWN_CAR_AGE_21
OWN_CAR_AGE_22
OWN_CAR_AGE_23
OWN_CAR_AGE_24
OWN_CAR_AGE_25
OWN_CAR_AGE_26
OWN_CAR_AGE_27
OWN_CAR_AGE_28
OWN_CAR_AGE_29
OWN_CAR_AGE_30
OWN_CAR_AGE_31
OWN_CAR_AGE_32
OWN_CAR_AGE_33
OWN_CAR_AGE_34
OWN_CAR_AGE_35
OWN_CAR_AGE_36
OWN_CAR_AGE_37
OWN_CAR_AGE_38
OWN_CAR_AGE_39
OWN_CAR_AGE_40
OWN_CAR_AGE_41
OWN_CAR_AGE_42
OWN_CAR_AGE_43
OWN_CAR_AGE_44
OWN_CAR_AGE_49
OWN_CAR_AGE_50
OWN_CAR_AGE_52
OWN_CAR_AGE_55
OWN_CAR_AGE_56
OWN_CAR_AGE_65
OWN_CAR_AGE_74
Accountants
Cleaning staff
Cooking staff
Core staff
Drivers
HR staff
High skill tech staff
IT staff
Laborers
Low-skill Laborers
Managers
Medicine staff
Private service staff
Realty agents
Sales staff
Secretaries
Security staff
Waiters/barmen staff
CNT_FAM_MEMBERS_1
CNT_FAM_MEMBERS_2
CNT_FAM_MEMBERS_3
CNT_FAM_MEMBERS_4
CNT_FAM_MEMBERS_5
CNT_FAM_MEMBERS_6
CNT_FAM_MEMBERS_7
CNT_FAM_MEMBERS_8
CNT_FAM_MEMBERS_9
CNT_FAM_MEMBERS_10
CNT_FAM_MEMBERS_13
CNT_FAM_MEMBERS_21
REGION_RATING_CLIENT_W_CITY_1
REGION_RATING_CLIENT_W_CITY_2
REGION_RATING_CLIENT_W_CITY_3
REGION_RATING_CLIENT_W_CITY_-1
FRIDAY
MONDAY
SATURDAY
SUNDAY
THURSDAY
TUESDAY
WEDNESDAY
HOUR_APPR_PROCESS_START_0
HOUR_APPR_PROCESS_START_1
HOUR_APPR_PROCESS_START_2
HOUR_APPR_PROCESS_START_3
HOUR_APPR_PROCESS_START_4
HOUR_APPR_PROCESS_START_5
HOUR_APPR_PROCESS_START_6
HOUR_APPR_PROCESS_START_7
HOUR_APPR_PROCESS_START_8
HOUR_APPR_PROCESS_START_9
HOUR_APPR_PROCESS_START_10
HOUR_APPR_PROCESS_START_11
HOUR_APPR_PROCESS_START_12
HOUR_APPR_PROCESS_START_13
HOUR_APPR_PROCESS_START_14
HOUR_APPR_PROCESS_START_15
HOUR_APPR_PROCESS_START_16
HOUR_APPR_PROCESS_START_17
HOUR_APPR_PROCESS_START_18
HOUR_APPR_PROCESS_START_19
HOUR_APPR_PROCESS_START_20
HOUR_APPR_PROCESS_START_21
HOUR_APPR_PROCESS_START_22
HOUR_APPR_PROCESS_START_23
Advertising
Agriculture
Bank
Business Entity Type 1
Business Entity Type 2
Business Entity Type 3
Cleaning
Construction
Culture
Electricity
Emergency
Government
Hotel
Housing
Industry: type 1
Industry: type 10
Industry: type 11
Industry: type 12
Industry: type 13
Industry: type 2
Industry: type 3
Industry: type 4
Industry: type 5
Industry: type 6
Industry: type 7
Industry: type 8
Industry: type 9
Insurance
Kindergarten
Legal Services
Medicine
Military
Mobile
Other
Police
Postal
Realtor
Religion
Restaurant
School
Security
Security Ministries
Self-employed
Services
Telecom
Trade: type 1
Trade: type 2
Trade: type 3
Trade: type 4
Trade: type 5
Trade: type 6
Trade: type 7
Transport: type 1
Transport: type 2
Transport: type 3
Transport: type 4
University
XNA
not specified
org spec account
reg oper account
reg oper spec account
block of flats
specific housing
terraced house
Block
Mixed
Monolithic
Others
Panel
Stone, brick
Wooden
OBS_30_CNT_SOCIAL_CIRCLE_0
OBS_30_CNT_SOCIAL_CIRCLE_1
OBS_30_CNT_SOCIAL_CIRCLE_2
OBS_30_CNT_SOCIAL_CIRCLE_3
OBS_30_CNT_SOCIAL_CIRCLE_4
OBS_30_CNT_SOCIAL_CIRCLE_5
OBS_30_CNT_SOCIAL_CIRCLE_6
OBS_30_CNT_SOCIAL_CIRCLE_7
OBS_30_CNT_SOCIAL_CIRCLE_8
OBS_30_CNT_SOCIAL_CIRCLE_9
OBS_30_CNT_SOCIAL_CIRCLE_10
OBS_30_CNT_SOCIAL_CIRCLE_11
OBS_30_CNT_SOCIAL_CIRCLE_12
OBS_30_CNT_SOCIAL_CIRCLE_13
OBS_30_CNT_SOCIAL_CIRCLE_14
OBS_30_CNT_SOCIAL_CIRCLE_15
OBS_30_CNT_SOCIAL_CIRCLE_16
OBS_30_CNT_SOCIAL_CIRCLE_17
OBS_30_CNT_SOCIAL_CIRCLE_18
OBS_30_CNT_SOCIAL_CIRCLE_19
OBS_30_CNT_SOCIAL_CIRCLE_20
OBS_30_CNT_SOCIAL_CIRCLE_21
OBS_30_CNT_SOCIAL_CIRCLE_22
OBS_30_CNT_SOCIAL_CIRCLE_23
OBS_30_CNT_SOCIAL_CIRCLE_29
OBS_30_CNT_SOCIAL_CIRCLE_352
OBS_30_CNT_SOCIAL_CIRCLE_353
OBS_30_CNT_SOCIAL_CIRCLE_354
DEF_30_CNT_SOCIAL_CIRCLE_0
DEF_30_CNT_SOCIAL_CIRCLE_1
DEF_30_CNT_SOCIAL_CIRCLE_2
DEF_30_CNT_SOCIAL_CIRCLE_3
DEF_30_CNT_SOCIAL_CIRCLE_4
DEF_30_CNT_SOCIAL_CIRCLE_5
DEF_30_CNT_SOCIAL_CIRCLE_6
DEF_30_CNT_SOCIAL_CIRCLE_34
OBS_60_CNT_SOCIAL_CIRCLE_0
OBS_60_CNT_SOCIAL_CIRCLE_1
OBS_60_CNT_SOCIAL_CIRCLE_2
OBS_60_CNT_SOCIAL_CIRCLE_3
OBS_60_CNT_SOCIAL_CIRCLE_4
OBS_60_CNT_SOCIAL_CIRCLE_5
OBS_60_CNT_SOCIAL_CIRCLE_6
OBS_60_CNT_SOCIAL_CIRCLE_7
OBS_60_CNT_SOCIAL_CIRCLE_8
OBS_60_CNT_SOCIAL_CIRCLE_9
OBS_60_CNT_SOCIAL_CIRCLE_10
OBS_60_CNT_SOCIAL_CIRCLE_11
OBS_60_CNT_SOCIAL_CIRCLE_12
OBS_60_CNT_SOCIAL_CIRCLE_13
OBS_60_CNT_SOCIAL_CIRCLE_14
OBS_60_CNT_SOCIAL_CIRCLE_15
OBS_60_CNT_SOCIAL_CIRCLE_16
OBS_60_CNT_SOCIAL_CIRCLE_17
OBS_60_CNT_SOCIAL_CIRCLE_18
OBS_60_CNT_SOCIAL_CIRCLE_19
OBS_60_CNT_SOCIAL_CIRCLE_20
OBS_60_CNT_SOCIAL_CIRCLE_21
OBS_60_CNT_SOCIAL_CIRCLE_22
OBS_60_CNT_SOCIAL_CIRCLE_23
OBS_60_CNT_SOCIAL_CIRCLE_29
OBS_60_CNT_SOCIAL_CIRCLE_349
OBS_60_CNT_SOCIAL_CIRCLE_351
DEF_60_CNT_SOCIAL_CIRCLE_0
DEF_60_CNT_SOCIAL_CIRCLE_1
DEF_60_CNT_SOCIAL_CIRCLE_2
DEF_60_CNT_SOCIAL_CIRCLE_3
DEF_60_CNT_SOCIAL_CIRCLE_4
DEF_60_CNT_SOCIAL_CIRCLE_5
DEF_60_CNT_SOCIAL_CIRCLE_24
AMT_REQ_CREDIT_BUREAU_HOUR_0
AMT_REQ_CREDIT_BUREAU_HOUR_1
AMT_REQ_CREDIT_BUREAU_HOUR_2
AMT_REQ_CREDIT_BUREAU_MON_0
AMT_REQ_CREDIT_BUREAU_MON_1
AMT_REQ_CREDIT_BUREAU_MON_2
AMT_REQ_CREDIT_BUREAU_MON_3
AMT_REQ_CREDIT_BUREAU_MON_4
AMT_REQ_CREDIT_BUREAU_MON_5
AMT_REQ_CREDIT_BUREAU_MON_6
AMT_REQ_CREDIT_BUREAU_QRT_0
AMT_REQ_CREDIT_BUREAU_QRT_1
AMT_REQ_CREDIT_BUREAU_QRT_2
AMT_REQ_CREDIT_BUREAU_QRT_3
AMT_REQ_CREDIT_BUREAU_QRT_4
AMT_REQ_CREDIT_BUREAU_QRT_5
AMT_REQ_CREDIT_BUREAU_QRT_6
AMT_REQ_CREDIT_BUREAU_QRT_7
AMT_REQ_CREDIT_BUREAU_YEAR_0
AMT_REQ_CREDIT_BUREAU_YEAR_1
AMT_REQ_CREDIT_BUREAU_YEAR_2
AMT_REQ_CREDIT_BUREAU_YEAR_3
AMT_REQ_CREDIT_BUREAU_YEAR_4
AMT_REQ_CREDIT_BUREAU_YEAR_5
AMT_REQ_CREDIT_BUREAU_YEAR_6
AMT_REQ_CREDIT_BUREAU_YEAR_7
AMT_REQ_CREDIT_BUREAU_YEAR_8
AMT_REQ_CREDIT_BUREAU_YEAR_9
AMT_REQ_CREDIT_BUREAU_YEAR_10
AMT_REQ_CREDIT_BUREAU_YEAR_11
AMT_REQ_CREDIT_BUREAU_YEAR_12
AMT_REQ_CREDIT_BUREAU_YEAR_13
AMT_REQ_CREDIT_BUREAU_YEAR_14
AMT_REQ_CREDIT_BUREAU_YEAR_17

In [82]:
missing_values_table(test)

Your selected dataframe has 425 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [84]:
test.to_csv('fully_cleaned_application_test.csv')